Repository woowacourse-teams/2024-staccato, pull requests merged in 2024-11, with the labels that each got.

#549 refactor: comments api uri 수정 #544
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
Labels: backend, refactor

#542 fix: 추억 생성 및 수정 썸네일 사진 업로드 오류 수정 #535
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/ThumbnailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
Labels: android, fix

#561 refactor: comment API의 URI 수정 #560
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/comment/CommentApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/comment/CommentRequest.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/CommentMapper.kt
Labels: android, refactor

#541 deploy: v.1.2.1 배포 준비 #539
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, deploy

#562 deploy: v.1.2.1 배포
  .github/ISSUE_TEMPLATE/bug-issue-template.md
  .github/ISSUE_TEMPLATE/feat-issue-template.md
  .github/ISSUE_TEMPLATE/refactor-issue-template.md
  .github/ISSUE_TEMPLATE/staccato-issue-template.md
  .github/workflows/android-cd.yml
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci.yml
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/comment/CommentApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/comment/CommentRequest.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/CommentMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/ThumbnailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/main/java/com/staccato/image/infrastructure/S3ObjectClient.java
  backend/src/main/java/com/staccato/image/service/ImageService.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/repository/MomentRepository.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/error-appender.xml
  backend/src/main/resources/info-appender.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/warn-appender.xml
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/image/infrastructure/FakeS3ObjectClient.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
Labels: android, deploy
