Repository woowacourse-teams/2024-staccato, pull requests merged in 2024-10, with the labels that each got.

#423 refactor: 스타카토 조회 API 응답 수정 #422
  backend/src/main/java/com/staccato/comment/domain/Comment.java
  backend/src/main/java/com/staccato/comment/repository/CommentRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/repository/MomentRepository.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentUpdateRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponseOldV.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentUpdateRequestFixture.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🛠️ refactor

#426 feat: 운영 서버 flyway 적용 #421
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-stage.yml
  backend/Dockerfile.stage
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, ⚙️ build, ⛏️ chore

#428 refactor: 스타카토 조회 API 응답에 추억 기간 추가 #427
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
Labels: backend, 🛠️ refactor

#430 fix: 설정 파일 오류 수정 #429
  backend/src/main/resources/application-dev.yml
Labels: backend, 🩹 fix

#420 feat: 스타카토 생성 및 수정 화면 위치 권한 플로우 변경 #416
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/LocationPermissionManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/LocationDialogFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateActivity.kt
Labels: android, 🚀 feat

#425 feat: 개발용 이스터에그 로직 제거 #424
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/config/auth/AdminProperties.java
Labels: backend, 🚀 feat

#419 ui: 현위치 로드 시 로딩 애니메이션 보여주기 #418
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/CurrentLocationHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/raw/dot_loading.json
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, 📱 ui

#431 feat: 마이페이지 구현 및 일부 기능 개선 #417
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MomentMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MyPageMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/moment/MomentResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mypage/AccountInformationResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mypage/ProfileImageResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/login/LoginApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/module/RepositoryModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/module/RetrofitModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/moment/MomentApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/AccountInformation.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/Moment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/MyPageRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/CloseToolbarHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mapper/MyPageMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/comments/MomentCommentsFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/comments/MomentCommentsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/viewmodel/MomentViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageMenuHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/model/AccountInformationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/viewmodel/MyPageViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/webview/WebViewActivity.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_close.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_copy.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_edit_circle.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_member.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_member_with_border.xml
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/activity_mypage.xml
  android/Staccato_AN/app/src/main/res/layout/activity_webview.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_feeling_selection.xml
  android/Staccato_AN/app/src/main/res/layout/toolbar_close.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, 🚀 feat

#435 refactor: 스타카토 생성/수정 화면에서 추억과 일시를 선택하는 바텀 시트 분리 #434
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MomentMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/moment/MomentResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mypage/MyProfileResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/Moment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MyProfile.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/MemorySelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/MemoryVisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/MemoryVisitedAtSelectionHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/VisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/model/MyProfileUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_mypage.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 📱 ui

#439 chore: 운영 서버 docker 포트 포워딩 변경 #437
  .github/workflows/backend-ci-cd-prod.yml
Labels: backend, ⛏️ chore

#443 fix & feat: 스타카토 생성 시 현주소 로딩 버그 수정 & 사진 길게 눌러 순서 변경 기능 #441
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/adapter/PhotoAttachAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/adapter/PhotoAttachViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitcreation/adapter/AttachedPhotoItemTouchHelperCallback.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🩹 fix

#446 refactor: 나의 추억들(전 타임라인) 로딩 lottie 구현 #433
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
Labels: android, 🛠️ refactor

#451 fix: 추억 수정 시 사진 등록 중이라면 저장 버튼을 비활성화 #447
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
Labels: android, 🩹 fix

#449 fix: 현주소 로딩 버그 수정, 사진 드래그 시 투명하게 조절 #444
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/CurrentLocationHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/adapter/PhotoAttachViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitcreation/adapter/AttachedPhotoItemTouchHelperCallback.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
Labels: android, 🩹 fix

#450 refactor: 클립보드 복사 시 토스트 메시지가 뜨지 않는 문제 해결 #448
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🩹 fix, 🛠️ refactor

#454 fix: mysql 대소문자 구분 설정 #452
  backend/src/main/resources/db/migration/V7__alter_collation.sql
Labels: backend, 🩹 fix

#375 feat: Actuator 적용 및 모니터링 연동 #364
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  backend/build.gradle
  backend/src/main/java/com/staccato/util/health/HealthController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, 🚀 feat

#456 build: 앱 버전 업데이트 #442
  android/Staccato_AN/app/build.gradle.kts
Labels: android, ⚙️ build

#462 fix: 운영 서버 docker 포트 포워딩 복구
  .github/workflows/backend-ci-cd-prod.yml
Labels: backend, 🩹 fix

#464 refactor: 마이페이지의 앱 버전 수정 #463
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🩹 fix, 🛠️ refactor

#466 build: 누락된 android ci/cd 파일 복구 #465
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml
  .github/workflows/android-ci.yml
Labels: android, ⚙️ build

#467 build: 누락된 android ci/cd 파일 복구
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml
  .github/workflows/android-ci.yml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, ⚙️ build

#468 hotfix: flyway 오류 수정
  backend/src/main/resources/application-prod.yml
Labels: backend, 🥵 hotfix

#472 refactor: BindingAdapter 분리 및 리팩토링 #469
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/ButtonBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/ImageBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/LocalDateFormatter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/feeling/FeelingUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/VisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_recovery.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/layout/item_attached_photo.xml
  android/Staccato_AN/app/src/main/res/layout/item_moment_feeling_selection.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
  android/Staccato_AN/app/src/main/res/layout/layout_timeline.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🛠️ refactor

#476 refactor: 추억 및 스타카토 생성, 수정 화면 loading lottie 적용 #453
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/item_attached_photo.xml
  android/Staccato_AN/app/src/main/res/layout/layout_loading.xml
  android/Staccato_AN/app/src/main/res/values/colors.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, 🛠️ refactor

#478 refactor: 리소스 리팩터링 및 xml 컨벤션 적용 #473
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_mypage.xml
  android/Staccato_AN/app/src/main/res/layout/activity_recovery.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_delete_impossibility_dialog.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_maps.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_feeling_selection.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visit.xml
  android/Staccato_AN/app/src/main/res/layout/item_moment_my_comment.xml
  android/Staccato_AN/app/src/main/res/layout/item_moment_others_comment.xml
  android/Staccato_AN/app/src/main/res/layout/item_viewpage_photo.xml
  android/Staccato_AN/app/src/main/res/layout/layout_photo_attach.xml
  android/Staccato_AN/app/src/main/res/layout/layout_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/toolbar_detail.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
  android/Staccato_AN/app/src/main/res/values/styles_button.xml
  android/Staccato_AN/app/src/main/res/values/styles_comment.xml
  android/Staccato_AN/app/src/main/res/values/styles_text_input.xml
  android/Staccato_AN/app/src/main/res/values/styles_toolbar.xml
Labels: android, 🛠️ refactor

#479 refactor: 마이페이지 및 로그인 화면 리팩터링 #477
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MyPageMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mypage/AccountInformationResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mypage/MemberProfileResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MemberProfile.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MyProfile.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/MyPageRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mapper/MyPageMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MemberProfileHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/model/AccountInformationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/model/MyProfileUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/viewmodel/MyPageViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_mypage.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🛠️ refactor

#490 refactor: 로깅 whitelist 추가 #489
  backend/src/main/java/com/staccato/config/log/LoggingFilter.java
Labels: backend, 🛠️ refactor

#491 deploy: 1.1.1 배포 #484
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  backend/src/main/java/com/staccato/config/log/LoggingFilter.java
Labels: backend, deploy

#475 refactor: 인덱스 설정 #474
  backend/src/main/resources/db/migration/V8__create_indexes.sql
Labels: backend, 🛠️ refactor

#487 feat: Bulk Delete 적용 #406
  backend/src/main/java/com/staccato/comment/repository/CommentRepository.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
  backend/src/main/java/com/staccato/moment/repository/MomentImageRepository.java
  backend/src/main/java/com/staccato/moment/repository/MomentRepository.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/test/java/com/staccato/comment/repository/CommentRepositoryTest.java
  backend/src/test/java/com/staccato/fixture/comment/CommentFixture.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentImageRepositoryTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
Labels: backend, 🚀 feat, 🛠️ refactor

#488 refactor: N+1 문제 해결 #486
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
Labels: backend, 🛠️ refactor

#494 fix: 스타카토 댓글 UI 오류 해결 및 개선 #493
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/StaccatoCommentsFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/StaccatoCommentsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/feeling/StaccatoFeelingSelectionFragment.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_send_disabled.png
  android/Staccato_AN/app/src/main/res/drawable/icon_send_disabled.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_send_enabled.png
  android/Staccato_AN/app/src/main/res/drawable/icon_send_enabled.xml
  android/Staccato_AN/app/src/main/res/drawable/selector_comment_sendable.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_staccato.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_staccato_comments.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🩹 fix, 🛠️ refactor

#509 feat: 기본 추억 제공 구현 #508
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/test/java/com/staccato/auth/service/AuthServiceTest.java
Labels: backend, 🚀 feat

#511 fix: file changed 인식 불가로 인한 순서 변경
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
Labels: backend, 🩹 fix

#512 deploy: 1.2.0 배포
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
Labels: backend, deploy

#516 feat: 모든 화면에서 네트워크 에러 핸들링 #501
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/ApiResponseHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/comment/CommentDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/image/ImageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/login/LoginDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/memory/MemoryDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/staccato/StaccatoApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/staccato/StaccatoDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/staccato/StaccatoDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/staccato/StaccatoRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/timeline/TimelineDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/StaccatoRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/viewmodel/LoginViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/viewmodel/MemoryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/MemoryCreationError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/viewmodel/MyPageViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/viewmodel/RecoveryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/StaccatoCommentsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/viewmodel/StaccatoViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/MessageUtils.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android

#513 build: 안드로이드 CI/CD 재설정 #445
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-dev.yml
  .github/workflows/android-ci.yml
Labels: android

#521 fix: 안드로이드 CI 오류 수정 #519
  .github/workflows/android-ci.yml
Labels: android, 🩹 fix, ⚙️ build

#507 feat: 나의 추억들 정렬 기능 구현 #503
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/adapter/TimelineAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/model/SortType.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/res/menu/menu_sort.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat

#523 ui: 기분 캐릭터 변경 #522
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mapper/StaccatoUiModelMapper.kt
  android/Staccato_AN/app/src/main/res/drawable/feeling_angry_note.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_angry_note_gray.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_excited_note.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_excited_note_gray.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_happy_note.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_happy_note_gray.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_sad_note.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_sad_note_gray.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_scared_note.png
  android/Staccato_AN/app/src/main/res/drawable/feeling_scared_note_gray.png
Labels: 📱 ui

#524 feat: 카메라 촬영 기능 연결 #514
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, 🚀 feat

#525 deploy: v.1.2.0 배포 준비 #515
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, deploy

#528 fix: Android CD 수정 #527
  .github/workflows/android-cd.yml
Labels: android, 🩹 fix, ⚙️ build

#518 chore: Thread, Hikari CP 변경
  backend/src/main/resources/application-prod.yml
Labels: backend, ⛏️ chore

#529 deploy: v.1.2.0 배포
  .github/workflows/android-cd.yml
  backend/src/main/resources/application-prod.yml
Labels: android, deploy

#531 feat: 기본 추억 제목 변경 #530
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
Labels: backend, 🚀 feat

#534 fix: 스타카토 삭제 시 마커가 갱신되지 않는 오류 해결 #533
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
Labels: android, 🩹 fix

#537 feat & fix: 사진 코루틴 취소 버그 수정 / ACTION_PICK_IMAGES 적용 #536
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🩹 fix
