Repository woowacourse-teams/2024-staccato, pull requests merged in 2024-08, with the labels that each got.

#120 build: 사용하지 않는 도커 이미지 삭제 workflow 구성 #84
  .github/workflows/backend-ci-cd-dev.yml
Labels: backend, ⚙️ build

#126 refactor: 엔티티 수정 #125
  backend/src/main/java/com/staccato/config/domain/BaseEntity.java
  backend/src/main/java/com/staccato/visit/domain/VisitLog.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🛠️ refactor

#92 build: develop-an의 CI 테스트 자동화 추가 및 데모 APK 추출 #78
  .github/workflows/android-ci-apk.yml
  .github/workflows/android-ci.yml
Labels: android, ⚙️ build

#128 feat: 로그인 API 구현 #123
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci.yml
  backend/build.gradle
  backend/src/main/java/com/staccato/auth/controller/AuthController.java
  backend/src/main/java/com/staccato/auth/controller/AuthControllerDocs.java
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/auth/service/dto/response/LoginResponse.java
  backend/src/main/java/com/staccato/config/WebMvcConfig.java
  backend/src/main/java/com/staccato/config/auth/LoginMember.java
  backend/src/main/java/com/staccato/config/auth/LoginMemberArgumentResolver.java
  backend/src/main/java/com/staccato/config/auth/TokenProperties.java
  backend/src/main/java/com/staccato/config/auth/TokenProvider.java
  backend/src/main/java/com/staccato/exception/ForbiddenException.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/exception/UnauthorizedException.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/member/domain/Nickname.java
  backend/src/main/java/com/staccato/member/repository/MemberRepository.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/controller/docs/TravelControllerDocs.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitLogResponse.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/auth/service/AuthServiceTest.java
  backend/src/test/java/com/staccato/member/domain/NicknameTest.java
  backend/src/test/java/com/staccato/travel/controller/TravelIntegrationTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#145 fix: TravelResponses 필드 wrapping 오류 수정 #144
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponses.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponse.java
Labels: backend, 🩹 fix

#146 feat: 특정 여행 상세 수정 api 연결 #109
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/MemberMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/member/MemberDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/member/MembersDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineTravelDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Member.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/NewTravel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/TravelCreation.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/MemberUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/layout/activity_travel_update.xml
Labels: android, 🚀 feat

#131 refactor: 방문기록 조회/수정 도메인 변경으로 인한 수정 #121
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/controller/docs/MultipartJackson2HttpMessageConverter.java
  backend/src/main/java/com/staccato/visit/controller/docs/VisitControllerDocs.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitImage.java
  backend/src/main/java/com/staccato/visit/domain/VisitImages.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitUpdateRequest.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitDetailResponse.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitLogResponse.java
  backend/src/test/java/com/staccato/visit/controller/VisitControllerTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/domain/VisitImagesTest.java
  backend/src/test/java/com/staccato/visit/fixture/VisitDetailResponseFixture.java
  backend/src/test/java/com/staccato/visit/fixture/VisitFixture.java
  backend/src/test/java/com/staccato/visit/fixture/VisitLogFixture.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat, 🛠️ refactor

#129 refactor: 방문 기록 생성/삭제 도메인 변경으로 인한 수정 #122
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/controller/docs/VisitControllerDocs.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitRequest.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitIdResponse.java
  backend/src/test/java/com/staccato/travel/domain/TravelTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitControllerTest.java
  backend/src/test/java/com/staccato/visit/domain/VisitImagesTest.java
  backend/src/test/java/com/staccato/visit/domain/VisitTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🩹 fix, 🛠️ refactor

#147 feat: 여행 상세 생성 API 수정 #141
  backend/src/main/java/com/staccato/auth/controller/AuthControllerDocs.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/controller/docs/TravelControllerDocs.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelIdResponse.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/travel/controller/TravelControllerTest.java
  backend/src/test/java/com/staccato/travel/controller/TravelIntegrationTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🚀 feat

#152 refactor: api 명세서 변경에 따른 도메인 모델 수정 및 여행 코드 리팩터링 #151
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/MemberMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/VisitMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/member/MemberDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitLogDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Member.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Visit.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/VisitLog.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/MemberUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/VisitUiModelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/model/VisitDetailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/viewmodel/VisitViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_travel_update.xml
  android/Staccato_AN/app/src/main/res/layout/item_mates.xml
  android/Staccato_AN/app/src/main/res/layout/item_my_visit_log.xml
  android/Staccato_AN/app/src/main/res/layout/item_others_visit_log.xml
  android/Staccato_AN/app/src/main/res/layout/item_visit_default.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🛠️ refactor

#149 feat: 여행 상세 목록 조회, 특정 여행 상세 조회, 특정 여행 상세 삭제 API 수정 #148
  backend/src/main/java/com/staccato/exception/ExceptionResponse.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/controller/docs/TravelControllerDocs.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/domain/TravelMember.java
  backend/src/main/java/com/staccato/travel/repository/TravelMemberRepository.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelDetailResponse.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponse.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponses.java
  backend/src/main/java/com/staccato/travel/service/dto/response/VisitResponse.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitImages.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/test/java/com/staccato/travel/controller/TravelControllerTest.java
  backend/src/test/java/com/staccato/travel/repository/TravelMemberRepositoryTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🚀 feat

#156 refactor: member entity 외 논리적 삭제 제거 #132
  backend/src/main/java/com/staccato/config/domain/BaseEntity.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/domain/TravelMember.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitLog.java
  backend/src/main/resources/application.yml
Labels: backend, 🛠️ refactor

#158 fix: 닉네임 형식 수정 #157
  backend/src/main/java/com/staccato/member/domain/Nickname.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/staccato/member/domain/NicknameTest.java
Labels: backend, 🩹 fix

#155 feat: 방문 생성 화면, 방문 수정 화면에서 갤러리 사진 불러오기 구현 #150
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/PhotoAttachHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/OnUrisSelectedListener.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/viewmodel/VisitCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_photo_attach.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, 🚀 feat

#160 build: `develop-an`의 android-ci 수정 #115
  .github/workflows/android-ci-apk.yml
  .github/workflows/android-ci.yml
Labels: android, 🩹 fix, ⚙️ build

#164 fix: android-ci 환경변수 생성 위치 조정
  .github/workflows/android-ci-apk.yml
  .github/workflows/android-ci.yml
Labels: android, 🩹 fix, ⚙️ build

#165 build: bash 쉘에 맞는 명령어 활용 #115
  .github/workflows/android-ci-apk.yml
  .github/workflows/android-ci.yml
Labels: android, 🩹 fix, ⚙️ build

#137 feat: AWS S3 SDK 구현
  backend/build.gradle
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/s3/controller/CloudStorageController.java
  backend/src/main/java/com/staccato/s3/domain/CloudStorageClient.java
  backend/src/main/java/com/staccato/s3/service/CloudStorageService.java
  backend/src/main/resources/application.yml
Labels: backend, 🚀 feat

#161 feat: 방문 기록 관련 인가 구현 #140
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/controller/docs/VisitControllerDocs.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/staccato/visit/controller/VisitControllerTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#167 feat: 특정 여행 상세 삭제 api 연결 #153
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/ApiResponseHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/HeaderInterceptor.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/ResponseResult.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/ErrorResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/Status.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModel.kt
Labels: android, 🚀 feat

#168 feat: 이미지가 필요한 API에 S3 적용 #166
  backend/src/main/java/com/staccato/s3/service/CloudStorageService.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitRequest.java
  backend/src/test/java/com/staccato/FakeCloudStorageClient.java
  backend/src/test/java/com/staccato/ServiceSliceTest.java
  backend/src/test/java/com/staccato/TestConfig.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitControllerTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#154 docs: PR 템플릿 오타 수정
  .github/pull_request_template.md
Labels: 📜 docs

#171 feat: 로깅 프레임워크 적용 #134
  backend/src/main/java/com/staccato/config/log/LogForm.java
  backend/src/main/java/com/staccato/config/log/LoggingFilter.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/error-appender.xml
  backend/src/main/resources/info-appender.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/warn-appender.xml
Labels: backend, 🚀 feat, 📜 docs

#175 feat: 방문 기록 목록 조회시 시간 순으로도 정렬되는 기능 구현
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/service/dto/request/TravelRequest.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelDetailResponse.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponse.java
  backend/src/main/java/com/staccato/travel/service/dto/response/VisitResponse.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitRequest.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitDetailResponse.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitLogResponse.java
  backend/src/test/java/com/staccato/travel/controller/TravelControllerTest.java
  backend/src/test/java/com/staccato/travel/domain/TravelTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitControllerTest.java
  backend/src/test/java/com/staccato/visit/domain/VisitImagesTest.java
  backend/src/test/java/com/staccato/visit/domain/VisitTest.java
  backend/src/test/java/com/staccato/visit/fixture/VisitFixture.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#177 refactor: 파일 이름 및 형식 오류 수정 #176
  backend/src/main/java/com/staccato/s3/service/CloudStorageService.java
Labels: backend, 🛠️ refactor

#178 feat: 여행 생성 기능 api 수정 #169
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/VisitMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/member/MemberDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineMemberDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineTravelDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelVisitDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitCreationRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitLogDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitUpdateRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/visit/VisitDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Travel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/TravelVisit.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/VisitLog.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/VisitUiModelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/model/TimelineTravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/TravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/TravelVisitUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/model/VisitDetailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/OnUrisSelectedListener.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/viewmodel/VisitCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_travel_creation.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_travel.xml
  android/Staccato_AN/app/src/main/res/layout/item_my_visit_log.xml
  android/Staccato_AN/app/src/main/res/layout/item_others_visit_log.xml
  android/Staccato_AN/app/src/main/res/layout/item_visit_default.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
  android/Staccato_AN/app/src/main/res/layout/layout_timeline.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 📱 ui

#181 feat: 여행 상세 수정 기능 api 변경 및 여행 리팩터링 #180
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelUpdateRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_travel_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_travel_update.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🛠️ refactor

#185 feat: swagger https 적용하기 #184
  backend/src/main/java/com/staccato/StaccatoApplication.java
Labels: backend, 🚀 feat

#187 feat: 빈/공백 문자열 예외 처리 #186
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/member/domain/Nickname.java
  backend/src/main/java/com/staccato/travel/service/dto/request/TravelRequest.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitRequest.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/member/domain/NicknameTest.java
  backend/src/test/java/com/staccato/travel/controller/TravelControllerTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitControllerTest.java
Labels: backend, 🚀 feat

#189 fix: Swagger 인증 헤더 형식 변경 #188
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/resources/error-appender.xml
  backend/src/main/resources/info-appender.xml
  backend/src/main/resources/warn-appender.xml
Labels: backend, 🩹 fix, 🛠️ refactor

#183 feat: 3차 스프린트에서 수정된 방문 기록 상세 API 연결 #163
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitCreationRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitCreationResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitUpdateRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/visit/VisitApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/visit/VisitDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/visit/VisitRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/VisitRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/PhotoAttachAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/VisitUiModelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/VisitFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/adapter/HorizontalPhotoAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/adapter/VisitViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/model/VisitDetailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/viewmodel/VisitViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/model/VisitCreationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/model/VisitTravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/viewmodel/VisitCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/viewmodel/VisitCreationViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/model/VisitUpdateDefaultUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/model/VisitUpdateUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_delete.xml
  android/Staccato_AN/app/src/main/res/drawable/selected_viewpager_indicator.xml
  android/Staccato_AN/app/src/main/res/drawable/selector_viewpager_indicator.xml
  android/Staccato_AN/app/src/main/res/drawable/unselected_viewpager_indicator.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_travel.xml
  android/Staccato_AN/app/src/main/res/layout/item_photo_attach.xml
  android/Staccato_AN/app/src/main/res/layout/item_photo_horizontal.xml
  android/Staccato_AN/app/src/main/res/layout/item_visit_default.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/xml/file_paths.xml
Labels: android, 🚀 feat

#172 feat: 닉네임을 활용한 로그인 기능 구현 #124
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/StaccatoApplication.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/HeaderInterceptor.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/TokenManager.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/UserInfoPreferencesManager.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/login/NicknameLoginRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/login/NicknameLoginResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/login/LoginApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/login/LoginDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/login/LoginDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/login/LoginRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/timeline/TimelineDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/visit/VisitRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/LoginRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/DatePeriodConverters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/LoginHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/viewmodel/LoginViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/viewmodel/LoginViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/model/TimelineTravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/viewmodel/TimelineViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_staccato_symbol.xml
  android/Staccato_AN/app/src/main/res/drawable/staccato_logo.png
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/item_timeline_first.xml
  android/Staccato_AN/app/src/main/res/layout/item_timeline_last.xml
  android/Staccato_AN/app/src/main/res/layout/item_timeline_middle.xml
  android/Staccato_AN/app/src/main/res/layout/layout_timeline.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
  android/Staccato_AN/app/src/main/res/values/themes.xml
Labels: android, 🚀 feat, 📱 ui

#200 fix: image push 시 권한 오류 수정
  .github/workflows/backend-ci-cd-stage.yml
Labels: backend, ⛏️ chore

#201 feat: admin용 계정 로직 추가 #199
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/config/auth/AdminProperties.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-stage.yml
Labels: backend, 🚀 feat

#204 fix: add stage logging
  backend/src/main/resources/logback-spring.xml
Labels: backend, 🥵 hotfix

#202 feat: 이미지 확장자와 content-type 설정 #196
  backend/src/main/java/com/staccato/s3/domain/FileExtension.java
  backend/src/main/java/com/staccato/s3/service/CloudStorageService.java
Labels: backend, 🚀 feat

#208 refactor: swagger url 재설정 (dev/stage/local) #207
  backend/src/main/java/com/staccato/StaccatoApplication.java
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
Labels: backend, 🛠️ refactor

#206 refactor: 이미지 용량 제한 확장 #205
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-stage.yml
Labels: backend, 🛠️ refactor

#210 fix: 이미지 전송 안되는 에러 수정 #209
  backend/src/main/java/com/staccato/s3/domain/FileExtension.java
  backend/src/main/java/com/staccato/s3/service/CloudStorageService.java
Labels: backend, 🩹 fix

#216 feat: 추억 목록 조회 API 수정 #215
  .github/workflows/backend-ci-cd-stage.yml
  backend/src/main/java/com/staccato/StaccatoApplication.java
  backend/src/main/java/com/staccato/memory/controller/MemoryController.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryResponses.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/fixture/Member/MemberFixture.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryFixture.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryRequestFixture.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryResponsesFixture.java
  backend/src/test/java/com/staccato/fixture/moment/CommentFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentFixture.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentImagesTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat

#224 feat: 사용자 로깅, Nginx 로깅, DB 로깅 #190
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/config/log/LogForm.java
  backend/src/main/java/com/staccato/config/log/LoggingFilter.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/error-appender.xml
  backend/src/main/resources/info-appender.xml
  backend/src/main/resources/warn-appender.xml
Labels: backend, 🚀 feat

#222 feat: 추억 삭제 API 수정 #221
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🚀 feat

#228 feat: 추억 조회 API 수정 #227
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryDetailResponse.java
Labels: backend, 🚀 feat

#235 build: stage 서버 CICD 임시 비활성화
  .github/workflows/backend-ci-cd-stage.yml.disabled
Labels: backend, ⚙️ build

#225 feat: 댓글 생성, 조회 API 구현 #214
  .github/workflows/backend-ci-cd-stage.yml
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/main/java/com/staccato/comment/domain/Comment.java
  backend/src/main/java/com/staccato/comment/repository/CommentRepository.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentRequest.java
  backend/src/main/java/com/staccato/comment/service/dto/response/CommentResponse.java
  backend/src/main/java/com/staccato/comment/service/dto/response/CommentResponses.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MomentResponse.java
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/repository/CommentRepository.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentUpdateRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentIdResponse.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/fixture/moment/CommentFixture.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat

#236 feat: 감정 선택 API 구현 #230
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/domain/Feeling.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/FeelingRequest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/FeelingTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat

#241 feat: s3 api 연결 #239
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/image/ImageResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/image/ImageApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/image/ImageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/ImageRepository.kt
Labels: android, 🚀 feat

#229 feat: 순간 생성 API 구현 #226
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentRequest.java
  backend/src/test/java/com/staccato/fixture/moment/MomentFixture.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat, 🛠️ refactor

#252 fix: 추억 기능 버그 수정 #246
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineMemoryDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/MemoryRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
Labels: android, 🩹 fix

#258 feat: 하나의 사진 업로드 API 생성 #256
  .github/workflows/backend-ci-cd-dev.yml
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/image/controller/ImageController.java
  backend/src/main/java/com/staccato/image/controller/docs/ImageControllerDocs.java
  backend/src/main/java/com/staccato/image/domain/ImageExtension.java
  backend/src/main/java/com/staccato/image/infrastructure/S3ObjectClient.java
  backend/src/main/java/com/staccato/image/service/ImageService.java
  backend/src/main/java/com/staccato/image/service/dto/ImageUrlResponse.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/s3/controller/CloudStorageController.java
  backend/src/main/java/com/staccato/s3/service/CloudStorageService.java
  backend/src/test/java/com/staccato/TestConfig.java
  backend/src/test/java/com/staccato/image/controller/ImageControllerTest.java
  backend/src/test/java/com/staccato/image/infrastructure/FakeS3ObjectClient.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat

#260 feat: 추억 생성 API 수정 #238
  backend/src/main/java/com/staccato/memory/controller/MemoryController.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/domain/Term.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/memory/service/dto/request/MemoryRequest.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryDetailResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryResponse.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/domain/TermTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🚀 feat

#254 feat: 댓글 수정 API 구현 #245
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/main/java/com/staccato/comment/domain/Comment.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentRequest.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentUpdateRequest.java
  backend/src/main/java/com/staccato/exception/validation/ValidationSteps.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/memory/domain/MemoryMember.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentFixture.java
Labels: backend, 🚀 feat

#257 feat: 댓글 삭제 API 구현 #255
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
Labels: backend, 🚀 feat

#262 feat: 추억 수정 API 수정 #261
  .github/workflows/backend-ci-cd-dev.yml
  backend/src/main/java/com/staccato/config/auth/TokenProvider.java
  backend/src/main/java/com/staccato/memory/controller/MemoryController.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryDetailResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryIdResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MomentResponse.java
  backend/src/test/java/com/staccato/auth/service/AuthServiceTest.java
  backend/src/test/java/com/staccato/config/auth/TokenProviderTest.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🚀 feat

#248 feat: 순간 수정 API 구현 #244
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentUpdateRequest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentImagesTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat, 🛠️ refactor

#253 feat: 순간 조회/목록 조회 API 구현 #251
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/repository/MomentRepository.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentLocationResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentLocationResponses.java
  backend/src/test/java/com/staccato/fixture/moment/MomentResponsesFixture.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat, 🛠️ refactor

#249 fix: 일부 EditText 개행 불가 처리 및 키보드 숨김 처리 #247
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/LoginHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
Labels: android, 🩹 fix, 🛠️ refactor

#269 feat: image upload 예외 처리 추가 #268
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
Labels: backend, 🚀 feat

#272 feat: 서버 별로 이미지 저장 경로 설정
  backend/src/main/java/com/staccato/image/service/ImageService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-stage.yml
Labels: backend, 🚀 feat

#275 refactor: S3 로직 리팩터링 #274
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/image/controller/docs/ImageControllerDocs.java
  backend/src/main/java/com/staccato/image/service/ImageService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-stage.yml
Labels: backend, 🛠️ refactor

#278 fix: 닉네임 앞뒤 공백 제거 #277
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/member/domain/Nickname.java
  backend/src/test/java/com/staccato/member/domain/NicknameTest.java
Labels: backend, 🩹 fix

#276 fix: 순간 조회 응답 형식 수정
  backend/src/main/java/com/staccato/moment/domain/Feeling.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentLocationResponses.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
Labels: backend, 🥵 hotfix

#282 feat: 추억 이름 중복 불가 예외 처리 #280
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/repository/MemoryRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryRequestFixture.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat

#286 fix: 순간 날짜 반환 형식 변경 #283
  backend/src/main/java/com/staccato/memory/service/dto/response/MomentResponse.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentLocationResponsesFixture.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🩹 fix

#285 feat: 현재 날짜를 포함하고 있는 추억 목록 조회 구현 #281
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/memory/controller/MemoryController.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryNameResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MemoryNameResponses.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryNameResponsesFixture.java
  backend/src/test/java/com/staccato/fixture/moment/CommentFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentFixture.java
  backend/src/test/java/com/staccato/image/infrastructure/FakeS3ObjectClient.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🚀 feat

#288 refactor: 순간 수정 이미지 순서 적용 #287
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/domain/MomentImage.java
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🛠️ refactor

#263 refactor: 타임라인 리팩터링 #232
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/FirstTimelineViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/viewmodel/TimelineViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/anim/anim_fade_in.xml
  android/Staccato_AN/app/src/main/res/anim/anim_fade_out.xml
  android/Staccato_AN/app/src/main/res/anim/anim_slide_in_from_left_fade_in.xml
  android/Staccato_AN/app/src/main/res/anim/anim_slide_out_to_left_fade_out.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/navigation/bottom_navigation_graph.xml
Labels: android, 🛠️ refactor

#265 feat: 추억 API 변경사항 반영 및 리팩터링 #259
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/MemoryMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/memory/MemoryRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/memory/MemoryUpdateRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/NewMemory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/MemoryRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/MemoryCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/MemoryUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/res/drawable/ic_delete.xml
  android/Staccato_AN/app/src/main/res/drawable/staccato_character.png
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, 🚀 feat, 🛠️ refactor, 📱 ui

#291 feat: 스타카토 생성, 수정 화면 사진 및 완료 버튼 개선 #242
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/moment/MomentCreationRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/image/ImageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/MomentRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/AttachedPhotoHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/model/MomentDetailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/viewmodel/MomentViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/adapter/PhotoAttachAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/adapter/PhotoAttachViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/model/AttachedPhotoUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/model/AttachedPhotosUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/adapter/AttachedPhotoItemTouchHelperCallback.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/adapter/ItemDragListener.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/adapter/ItemMoveListener.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/item_attached_photo.xml
  android/Staccato_AN/app/src/main/res/values/colors.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🛠️ refactor

#293 fix: 순간 조회 응답 필드 추가
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
Labels: backend, 🩹 fix

#297 build: 구글 맵 API 사용에 따른 CI 수정 #296
  .github/workflows/android-ci-apk.yml
  .github/workflows/android-ci.yml
Labels: android, ⚙️ build

#295 feat: Google Map 연결, 스타카토 목록 조회 API 연결 #54
  android/Staccato_AN/.gitignore
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/MomentMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/moment/MomentLocationDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/moment/MomentLocationResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/moment/MomentResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Moment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/MomentLocation.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/MomentRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/VisitUiModelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/model/MarkerUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/MomentFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/MomentToolbarHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/detail/MomentDetailUiModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_maps.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment.xml
  android/Staccato_AN/app/src/main/res/menu/menu_creation.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/themes.xml
  android/Staccato_AN/build.gradle.kts
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, 🚀 feat

#298 refactor: 예외 메시지 수정 #294
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentRequest.java
  backend/src/main/java/com/staccato/comment/service/dto/response/CommentResponse.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/service/dto/response/MomentResponse.java
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/FeelingRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentUpdateRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentIdResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentLocationResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentLocationResponses.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🛠️ refactor

#303 chore: 운영 서버에서 명세서 비활성화 #302
  backend/src/main/resources/application-prod.yml
Labels: backend, ⛏️ chore

#301 refactor: 안드로이드 1차 QA 반영 #299
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/viewmodel/MomentViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/model/AttachedPhotosUiModel.kt
  android/Staccato_AN/app/src/main/res/drawable/ic_baseline_align_horizontal_left.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_button_stroke_gray1_5dp.xml
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_detail.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_feeling_selection.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
  android/Staccato_AN/app/src/main/res/values/typography.xml
Labels: android, 🛠️ refactor

#306 fix: 스타카토 조회 화면 스택 관리 및 ui 수정 #304
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineHandler.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_moment.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
Labels: android, 🩹 fix, 📱 ui

#307 feat : 스타카토 제목, 추억 제목에 trim 적용 #305
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/service/dto/request/MemoryRequest.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentRequest.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryFixture.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/service/dto/request/MemoryRequestTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/service/dto/request/MomentRequestTest.java
Labels: backend, 🛠️ refactor

#308 build: Android CD 적용 #300
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml
  .github/workflows/android-ci.yml
  android/Staccato_AN/app/build.gradle.kts
Labels: android, ⚙️ build

#316 build: Android CD 수정
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml
Labels: android, ⚙️ build

#319 fix: android cd 재수정 (2차) #317
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml
Labels: android, 🩹 fix, ⚙️ build

#323 hotfix: QA #322
  .github/pull_request_template.md
  .github/workflows/backend-ci-cd-prod.yml
Labels: 🥵 hotfix, deploy

#324 feat: 스타카토 생성 시 현 위치의 주소를 가져오는 기능 구현 #314
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/moment/MomentCreationRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/moment/MomentDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/MomentRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat

#320 refactor: 스타카토 조회 화면 ViewPager2 적용 및 UI 아이콘 개선 #318
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/MomentFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/detail/MomentDetailFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/detail/ViewpagePhotoAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/detail/ViewpagePhotoViewHolder.kt
  android/Staccato_AN/app/src/main/res/drawable/ic_baseline_align_horizontal_left.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_camera.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_filter.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_sparkle.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_wand_stars.xml
  android/Staccato_AN/app/src/main/res/drawable/selected_viewpager_indicator.xml
  android/Staccato_AN/app/src/main/res/drawable/unselected_viewpager_indicator.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_detail.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_feeling_selection.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/item_viewpage_photo.xml
  android/Staccato_AN/app/src/main/res/layout/layout_photo_attach.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, 🛠️ refactor, 📱 ui

#327 feat: 메인 지도 화면에서 스타카토 생성하는 플로우 구현 #321
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/MemoryMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/memory/MemoriesResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/memory/MemoryRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/MemoryCandidate.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/MemoryRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/MomentCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/dialog/MemorySelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/dialog/MemorySelectionHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/model/MomentMemoryUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat

#330 fix: 스타카토 생성, 삭제 후 지도 화면의 마커가 갱신되지 않는 오류 해결 #326
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/maps/MapsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/MomentFragment.kt
Labels: android, 🩹 fix

#331 feat: 댓글 조회, 생성, 삭제 기능 구현 #290
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/comment/CommentApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/comment/CommentDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/comment/CommentDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/comment/CommentRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/comment/CommentDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/comment/CommentRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/comment/CommentUpdateRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/comment/CommentsResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/CommentMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/MomentMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/moment/MomentResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Comment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Moment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/NewComment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/CommentRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/VisitUiModelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/CommentHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/CommentUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/CommentViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/CommentsAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/MomentCommentsFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/MomentCommentsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/MomentCommentsViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_send_disabled.png
  android/Staccato_AN/app/src/main/res/drawable/icon_send_enabled.png
  android/Staccato_AN/app/src/main/res/drawable/selector_comment_sendable.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/layout/item_moment_others_comment.xml
  android/Staccato_AN/app/src/main/res/menu/menu_comment.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat

#334 feat: 추억 생성 및 수정 이미지 로딩 중 표시 및 저장 버튼 비활성화 #332
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
Labels: android, 🚀 feat

#335 refactor: 댓글 화면 개선 및 리팩터링 #333
  .github/workflows/android-cd.yml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/KeyboardActionHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/MomentCommentsFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/moment/comments/MomentCommentsViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
Labels: android, 🛠️ refactor
