Repository woowacourse-teams/2024-staccato, pull requests merged in 2024-09, with the labels that each got.

#355 ui: 추억 화면 디자인 수정 및 추억 생성 플로우 변경 #346
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineHandler.kt
  android/Staccato_AN/app/src/main/res/drawable/calendar_today.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_arrow_left.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_edit.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_filter.xml
  android/Staccato_AN/app/src/main/res/drawable/memory_gradient.xml
  android/Staccato_AN/app/src/main/res/drawable/staccato_gradient.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
  android/Staccato_AN/app/src/main/res/menu/menu_creation.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, 🚀 feat, 📱 ui

#354 refactor: 댓글 화면 개선 #333
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/comments/CommentViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/comments/KeyboardActionHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/comments/MomentCommentsFragment.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/menu/menu_comment.xml
Labels: android, 🚀 feat, 🛠️ refactor

#352 feat: 추억 생성/수정 시 기간을 nullable하게 변경 #350
  backend/src/main/java/com/staccato/memory/domain/Term.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/TermTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🚀 feat

#366 fix: 사용자 추억 제목 중복 검증 버그 수정
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/repository/MemoryRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🥵 hotfix

#368 chore: android/backed path & trigger 수정 #367
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml.disabled
  .github/workflows/android-ci.yml
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci-cd-stage.yml
  .github/workflows/backend-ci.yml
Labels: android, backend, ⛏️ chore

#369 deploy: v1.0.2
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-demo-apk.yml.disabled
  .github/workflows/android-ci.yml
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci-cd-stage.yml
  .github/workflows/backend-ci.yml
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/repository/MemoryRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: deploy

#372 fix: embedded 인스턴스화 관련 NPE 버그 해결
  .github/workflows/backend-ci-cd-dev.yml
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Term.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-stage.yml
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🩹 fix

#370 refactor: 테스트 리팩터링 #349
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/domain/MemoryMember.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/auth/service/AuthServiceTest.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/fixture/CommentRequestFixture.java
  backend/src/test/java/com/staccato/fixture/auth/LoginRequestFixture.java
  backend/src/test/java/com/staccato/fixture/comment/CommentFixture.java
  backend/src/test/java/com/staccato/fixture/comment/CommentUpdateRequestFixture.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentUpdateRequestFixture.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentImagesTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🛠️ refactor

#362 feat: 스타카토 수정 시 날짜, 장소 변경 가능하도록 수정 #353
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, 🚀 feat

#358 feat: Logging 레벨 수정 및 DB 예외 로깅, AOP 적용 #351
  backend/src/main/java/com/staccato/auth/controller/AuthController.java
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/config/log/LogForm.java
  backend/src/main/java/com/staccato/config/log/TraceAspect.java
  backend/src/main/java/com/staccato/config/log/annotation/Trace.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/image/controller/ImageController.java
  backend/src/main/java/com/staccato/image/service/ImageService.java
  backend/src/main/java/com/staccato/memory/controller/MemoryController.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
Labels: backend, 🚀 feat, 🛠️ refactor

#384 hotfix: 서버 마이그레이션 오류 해결 #383
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  backend/src/main/java/com/staccato/util/health/HealthController.java
Labels: backend, 🩹 fix, 🥵 hotfix

#382 chore: stage서버에서 사용하는 DB를 별도의 EC2 인스턴스로 분리 및 flyway 적용 #381
  .github/workflows/backend-ci-cd-stage.yml
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-stage.yml
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/main/resources/db/migration/V2__alter_visited_at_to_datetime.sql
  backend/src/main/resources/db/migration/V3__alter_start_at_end_at_nullable.sql
  backend/src/main/resources/db/migration/V4__add_member_code.sql
Labels: backend, ⛏️ chore

#389 feat: DB 마이그레이션 #386
  .github/workflows/backend-ci-cd-prod.yml
  backend/src/main/java/com/staccato/config/db/DataSourceConfig.java
  backend/src/main/java/com/staccato/config/db/DynamicRoutingDataSource.java
  backend/src/main/java/com/staccato/config/db/ReaderDataSourceConfig.java
  backend/src/main/java/com/staccato/config/db/WriterDataSourceConfig.java
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
Labels: backend, 🚀 feat

#385 feat: 스타카토 생성/조회/수정 시 title과 placeName을 각각 저장 #373
  backend/src/main/java/com/staccato/memory/service/dto/response/MomentResponse.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/domain/Spot.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/request/MomentUpdateRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/main/resources/db/migration/V5__alter_place_name_to_title.sql
  backend/src/main/resources/db/migration/V6__add_place_name_not_null.sql
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentUpdateRequestFixture.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
  backend/src/test/java/com/staccato/moment/service/dto/request/MomentRequestTest.java
Labels: backend, 🚀 feat

#391 fix: 특정 스타카토 조회시 위도,경도도 함께 반환 #390
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponse.java
  backend/src/test/java/com/staccato/fixture/moment/MomentDetailResponseFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentFixture.java
Labels: backend, 🩹 fix

#396 feat: 안드 개발상 편의를 위해 기존 스타카토 조회 API 복구 #394
  backend/src/main/java/com/staccato/moment/controller/MomentController.java
  backend/src/main/java/com/staccato/moment/controller/docs/MomentControllerDocs.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/main/java/com/staccato/moment/service/dto/response/MomentDetailResponseOldV.java
Labels: backend, 🚀 feat

#379 feat: 이전 기록 불러오기 API 구현 #374
  backend/src/main/java/com/staccato/auth/controller/AuthController.java
  backend/src/main/java/com/staccato/auth/controller/docs/AuthControllerDocs.java
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/member/repository/MemberRepository.java
  backend/src/main/resources/application-stage.yml
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/auth/service/AuthServiceTest.java
  backend/src/test/java/com/staccato/fixture/Member/MemberFixture.java
Labels: backend, 🚀 feat

#387 feat: 추억의 기간을 필수가 아닌 선택으로 변경 #363
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MemoryMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/memory/MemoryRequest.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/memory/MemoryResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/timeline/TimelineMemoryDto.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/Memory.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/NewMemory.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/model/MemoryUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/viewmodel/MemoryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/model/TimelineUiModel.kt
  android/Staccato_AN/app/src/main/res/drawable/selector_switch_track_colors.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_switch_thumb_oval.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_switch_track_50dp.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory.xml
  android/Staccato_AN/app/src/main/res/layout/layout_timeline.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🛠️ refactor

#399 fix: GPS 및 위치 권한, 현위치 버그 수정 및 바텀시트 상태에 따른 지도 카메라 이동 #341
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/LocationDialogFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/LocationDialogHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/model/MarkerUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/MapsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/MapsViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/maps/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/MomentFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_location_dialog.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 🩹 fix

#400 refactor: 키보드 숨김 로직 개선 및 리팩터링 #361
  android/Staccato_AN/.gitignore
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/base/BindingActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/MemoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/MemoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/moment/comments/MomentCommentsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/layout/item_moment_my_comment.xml
  android/Staccato_AN/app/src/main/res/layout/item_moment_others_comment.xml
Labels: android, 🩹 fix, 🛠️ refactor

#408 feat: 사용자 정보 조회 API #398
  backend/src/main/java/com/staccato/image/service/ImageService.java
  backend/src/main/java/com/staccato/member/controller/MyPageController.java
  backend/src/main/java/com/staccato/member/controller/docs/MyPageControllerDocs.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/member/service/MemberService.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberProfileImageResponse.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberProfileResponse.java
  backend/src/test/java/com/staccato/member/controller/MyPageControllerTest.java
  backend/src/test/java/com/staccato/member/service/MemberServiceTest.java
Labels: backend, 🚀 feat

#409 refactor: 추억 조회 시 created_at 기준 정렬을 DB단이 아닌 애플리케이션 단에서 수행 #404
  backend/src/main/java/com/staccato/comment/domain/Comment.java
  backend/src/main/java/com/staccato/comment/repository/CommentRepository.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
Labels: backend, 🛠️ refactor

#412 feat: 스타카토 생성/수정 화면에서 추억, 날짜, 시간 선택 기능 구현 #401
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MemoryMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/memory/MemoriesResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MemoryCandidate.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/viewmodel/MemoryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/MemoryVisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/MemoryVisitedAtSelectionHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🚀 feat, 📱 ui

#407 feat: 이전 기록 불러오기 화면 구현 #395
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/comment/CommentApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/comment/CommentRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/member/RecoveryCodeResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/MemberRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/LoginHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/RecoveryActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/RecoveryHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/viewmodel/RecoveryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/viewmodel/RecoveryViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/drawable/staccato_logo.png
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_memory_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_recovery.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_moment_comments.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, 🚀 feat

#415 refactor: 스타카토 추억, 날짜, 시간 선택 버그 수정 및 리팩토링
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/MomentCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/dialog/MemoryVisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/momentcreation/viewmodel/MomentCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/visitupdate/viewmodel/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🩹 fix, 🛠️ refactor
