Repository woowacourse-teams/2024-staccato, pull requests merged in 2024-07, with the labels that each got.

#7 build: develop-be 브랜치의 CI 설정
  .github/workflows/backend-ci.yml
Labels: 👾 backend, ⚙️ build

#10 build: develop-an 브랜치의 CI 설정 #3
  .github/workflows/android-ci.yml
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/androidTest/java/com/woowacourse/staccato/ExampleInstrumentedTest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/MainActivity.kt
  android/Staccato_AN/app/src/test/java/com/woowacourse/staccato/ExampleUnitTest.kt
  android/Staccato_AN/build.gradle.kts
  android/Staccato_AN/gradle/libs.versions.toml
Labels: 🤖 android, ⚙️ build

#17 feat: Entity 구성 #2
  backend/src/main/java/com/staccato/config/JpaAuditingConfig.java
  backend/src/main/java/com/staccato/config/domain/BaseEntity.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/pin/domain/Pin.java
  backend/src/main/java/com/staccato/travel/domain/Mate.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitImage.java
  backend/src/main/java/com/staccato/visit/domain/VisitLog.java
  backend/src/main/resources/application.yml
Labels: backend, 🚀 feat

#34 feat: ControllerAdvice 생성 #29
  backend/src/main/java/com/staccato/exception/ExceptionResponse.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
Labels: backend, 🚀 feat

#37 feat: Visit domain skeleton 코드 작성 #31
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitImage.java
  backend/src/main/java/com/staccato/visit/domain/VisitLog.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
Labels: backend, 🚀 feat

#36 feat: Travel Domain Skeleton Code 작성 #32
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/domain/Mate.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/repository/TravelRepository.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/travel/service/dto/request/TravelRequest.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponse.java
Labels: backend, 🚀 feat

#40 build: Docker Compose Setting #27
  backend/.gitignore
  backend/Dockerfile
  backend/build.gradle
  backend/docker-compose.yml
  backend/src/main/resources/application.yml
Labels: backend, ⚙️ build

#44 ui: 디자인 시스템 구현 #11
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/DeleteDialogFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_arrow_left.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_arrow_right.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_camera.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_home.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_plus.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_reading_glasses.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_timeline.xml
  android/Staccato_AN/app/src/main/res/drawable/selector_button_5dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_all_gray1_4dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_all_gray1_8dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_bottom_sheet_20dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_button_gray1_5dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_button_staccato_blue_5dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_dialog_10dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_drag_handle.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_my_visit_log_12dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_others_visit_log_12dp.xml
  android/Staccato_AN/app/src/main/res/font/pretendard_bold.otf
  android/Staccato_AN/app/src/main/res/font/pretendard_medium.otf
  android/Staccato_AN/app/src/main/res/font/pretendard_regular.otf
  android/Staccato_AN/app/src/main/res/font/pretendard_semibold.otf
  android/Staccato_AN/app/src/main/res/layout/fragment_delete_dialog.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_delete_impossibility_dialog.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_photo_attach.xml
  android/Staccato_AN/app/src/main/res/layout/layout_photo_attach.xml
  android/Staccato_AN/app/src/main/res/layout/toolbar_detail.xml
  android/Staccato_AN/app/src/main/res/values/colors.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
  android/Staccato_AN/app/src/main/res/values/typography.xml
Labels: 🤖 android, 📱 ui

#15 feat: jetpack navigation 및 바텀시트 프래그먼트 추가 #12
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/base/BindingActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/base/BindingFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/VisitFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/activity_travel_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_travel_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_travel.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visit.xml
  android/Staccato_AN/app/src/main/res/navigation/bottom_navigation_graph.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: 🤖 android, 🚀 feat

#41 feat: 공통 이미지 로딩 BindingAdapter 설정 #33
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/values/themes.xml
Labels: 🤖 android, 🚀 feat

#39 build: develop-an의 CI 설정 수정 #38
  .github/workflows/android-ci.yml
Labels: 🤖 android, ⚙️ build

#46 build: develop-an 브랜치의 CI 파일 문법 오류 수정 #45
  .github/workflows/android-ci.yml
Labels: 🤖 android, 🩹 fix, ⚙️ build

#49 fix: develop-an 브랜치의 CI 파일 명령어 재수정 #47
  .github/workflows/android-ci.yml
Labels: 🤖 android, 🩹 fix, ⚙️ build

#50 fix: develop-an의 CI yml 파일 문법 오류 수정 #47
  .github/workflows/android-ci.yml
Labels: 🤖 android, 🩹 fix, ⚙️ build

#35 feat: 데이터 패키지 설정 #13
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/MemberDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineMemberDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineTravelDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelVisitDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitCreationRequest.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitLogDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/visit/VisitUpdateRequest.kt
  android/Staccato_AN/build.gradle.kts
  android/Staccato_AN/gradle/libs.versions.toml
Labels: 🤖 android, 🚀 feat

#53 build: CD yml 파일 구성 #28
  .github/workflows/backend-ci-cd-dev.yml
  backend/docker-compose.yml
  backend/src/main/resources/application.yml
Labels: backend, ⚙️ build

#57 refactor: 중간 테이블 엔티티 수정 #56
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/domain/TravelMember.java
  backend/src/main/java/com/staccato/travel/repository/MateRepository.java
  backend/src/main/java/com/staccato/travel/repository/TravelMemberRepostiory.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🛠️ refactor

#42 feat: 특정 방문 기록 삭제 API 구현 #26
  backend/build.gradle
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/pin/domain/Pin.java
  backend/src/main/java/com/staccato/pin/repository/PinRepository.java
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitLog.java
  backend/src/main/java/com/staccato/visit/repository/VisitLogRepository.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/repository/VisitLogRepositoryTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#63 refactor: 여행 상세 생성 서비스 반환 타입 변경 #61
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponse.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🛠️ refactor

#60 feat: 여행 상세 목록 조회 API 구현 #19
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponses.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/repository/TravelMemberRepository.java
  backend/src/main/java/com/staccato/travel/repository/TravelMemberRepostiory.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponse.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelResponses.java
  backend/src/test/java/com/staccato/travel/controller/TravelIntegrationTest.java
  backend/src/test/java/com/staccato/travel/repository/TravelMemberRepositoryTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🚀 feat

#59 feat: 둥근 모서리의 이미지를 로드하는 BindingAdapters 추가 #58
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
Labels: 🤖 android, 🚀 feat

#71 ui: 타임라인 프래그먼트(BottomSheet) 구현 #55
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TimelineRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TempTimelineRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineTravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/FirstTravelViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/LastTravelViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/MiddleTravelViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineViewType.kt
  android/Staccato_AN/app/src/main/res/drawable/shape_all_gray2_4dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_timeline_dot_gray2.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/item_fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/layout_item_fragment_timeline_first.xml
  android/Staccato_AN/app/src/main/res/layout/layout_item_fragment_timeline_last.xml
  android/Staccato_AN/app/src/main/res/layout/layout_item_fragment_timeline_middle.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: 🤖 android, 🚀 feat, 📱 ui

#72 feat: 특정 여행 상세 삭제 API 구현 #24
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/test/java/com/staccato/travel/controller/TravelIntegrationTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🚀 feat

#74 ui: 방문 기록, 방문 기록 생성, 방문 기록 수정 화면 구현 #52
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/DeleteDialogFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/ToolbarHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/VisitFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/adapter/VisitAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/adapter/VisitViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/adapter/VisitViewHolderType.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/model/VisitDetailUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/viewmodel/VisitViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visit/viewmodel/VisitViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/VisitCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/dialog/TravelSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/dialog/TravelSelectionHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/dialog/VisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/dialog/VisitedAtSelectionHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitcreation/model/VisitCreationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/visitupdate/VisitUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/drawable/shape_place_holder_oval.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_place_holder_rectangle.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_visit_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_travel_selection.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visit.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/layout/item_my_visit_log.xml
  android/Staccato_AN/app/src/main/res/layout/item_others_visit_log.xml
  android/Staccato_AN/app/src/main/res/layout/item_visit_default.xml
  android/Staccato_AN/app/src/main/res/layout/toolbar_detail.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/themes.xml
  android/Staccato_AN/app/src/main/res/values/typography.xml
Labels: 🤖 android, 🚀 feat, 📱 ui

#75 ui: 여행 화면 구현 #51
  android/.idea/.gitignore
  android/.idea/android.iml
  android/.idea/misc.xml
  android/.idea/modules.xml
  android/.idea/vcs.xml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/Event.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/MutableSingleLiveData.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/common/SingleLiveData.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/MatesAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/MatesViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/VisitsAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/VisitsViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/MateUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/TravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/VisitUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/DateConverter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/TravelUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelupdate/viewmodel/TravelUpdateViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/layout/activity_travel_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_travel_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_travel.xml
  android/Staccato_AN/app/src/main/res/layout/item_mates.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits_date.xml
  android/Staccato_AN/app/src/main/res/layout/toolbar_detail.xml
  android/Staccato_AN/app/src/main/res/values/colors.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: 🤖 android, 🚀 feat, 📱 ui

#76 feat: 특정 방문 기록 조회 API 구현 #25
  backend/src/main/java/com/staccato/visit/controller/VisitController.java
  backend/src/main/java/com/staccato/visit/repository/VisitImageRepository.java
  backend/src/main/java/com/staccato/visit/repository/VisitLogRepository.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitDetailResponse.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitLogResponse.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitResponses.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#83 feat: Pin 연관관계 추가 #80
  backend/src/main/java/com/staccato/pin/domain/Pin.java
  backend/src/test/java/com/staccato/travel/domain/TravelTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/repository/VisitImageRepositoryTest.java
  backend/src/test/java/com/staccato/visit/repository/VisitLogRepositoryTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#89 feat: logging 추가 #86
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
Labels: backend, 🚀 feat

#88 feat: VisitLog, VisitImage 양방향 관계 설정 및 논리적 삭제 제거 #87
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/domain/VisitImage.java
  backend/src/main/java/com/staccato/visit/domain/VisitLog.java
  backend/src/main/java/com/staccato/visit/repository/VisitImageRepository.java
  backend/src/main/java/com/staccato/visit/repository/VisitLogRepository.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/test/java/com/staccato/visit/repository/VisitImageRepositoryTest.java
  backend/src/test/java/com/staccato/visit/repository/VisitLogRepositoryTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat

#91 fix: 여행 상세 수정 날짜 필터링 오류와 썸네일 저장 오류 수정 #90
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/service/dto/request/TravelRequest.java
  backend/src/test/java/com/staccato/travel/domain/TravelTest.java
Labels: backend, 🩹 fix

#95 fix: 명세서와 다른 응답 필드 수정 #94
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/travel/service/dto/response/TravelDetailResponse.java
  backend/src/main/java/com/staccato/travel/service/dto/response/VisitResponse.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitRequest.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitDetailResponse.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitLogResponse.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🩹 fix

#93 feat: 타임라인의 API 적용 및 MainActivity의 Toolbar 제거 #81
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/HeaderInterceptor.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/apiservice/TimeLineApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/common/LocalDateConverters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/datasource/TimelineDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/datasource/TimelineRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/MembersDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/timeline/TimelineTravelDto.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/repository/TimelineRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Member.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Timeline.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Travel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Visit.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/VisitLog.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TimelineRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/converter/DatePeriodConverters.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TempTimelineRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/FirstTravelViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/LastTravelViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/MiddleTravelViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/adapter/TimelineViewType.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/model/TimelineTravelUiModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/item_fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/layout_item_fragment_timeline_first.xml
  android/Staccato_AN/app/src/main/res/layout/layout_item_fragment_timeline_last.xml
  android/Staccato_AN/app/src/main/res/layout/layout_item_fragment_timeline_middle.xml
Labels: 🤖 android, 🚀 feat, 📱 ui

#97 feat: 특정 여행 상세 조회 api 연결 #82
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/ApiResponseHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/ResponseResult.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/dto/travel/TravelResponse.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/Travel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/TravelVisit.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/MemberUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TimelineMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/timeline/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/MatesAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/MatesViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/VisitsAdapter.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/adapter/VisitsViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/TravelUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/model/TravelVisitUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/layout/item_fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/layout/item_mates.xml
  android/Staccato_AN/app/src/main/res/layout/item_visits.xml
Labels: 🤖 android, 🚀 feat

#100 feat: 여행 상세 목록 조회 시 최신순 정렬 #96
  backend/src/main/java/com/staccato/travel/repository/TravelMemberRepository.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/test/java/com/staccato/travel/controller/TravelIntegrationTest.java
  backend/src/test/java/com/staccato/travel/repository/TravelMemberRepositoryTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🚀 feat

#102 feat: 특정 여행 상세 조회 API에서 방문 기록 오래된 순 정렬 #101
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🚀 feat

#104 feat: 여행 생성 api 연결 #98
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/ApiResponseHandler.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelApiService.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/data/travel/TravelRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/mapper/TravelMapper.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/model/TravelCreation.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/domain/repository/TravelRepository.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/TravelFragment.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travel/viewmodel/TravelViewModelFactory.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/TravelCreationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/woowacourse/staccato/presentation/travelcreation/viewmodel/TravelCreationViewModelFactory.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_floating_button.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_pin.xml
  android/Staccato_AN/app/src/main/res/drawable/img_map.png
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/values/themes.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: 🤖 android, 🚀 feat

#105 fix: Travel 삭제시 발생하는 오류 수정 #103
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
Labels: backend, 🩹 fix

#107 refactor: @SQLRestriction으로 soft-delete하도록 변경 #106
  backend/src/main/java/com/staccato/travel/domain/Travel.java
  backend/src/main/java/com/staccato/travel/domain/TravelMember.java
  backend/src/main/java/com/staccato/travel/repository/TravelMemberRepository.java
  backend/src/main/java/com/staccato/travel/repository/TravelRepository.java
  backend/src/main/java/com/staccato/travel/service/TravelService.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/repository/VisitImageRepository.java
  backend/src/main/java/com/staccato/visit/repository/VisitLogRepository.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/repository/VisitImageRepositoryTest.java
  backend/src/test/java/com/staccato/visit/repository/VisitLogRepositoryTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🛠️ refactor

#116 docs: swagger 컨벤션 설정 및 적용
  backend/build.gradle
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/controller/docs/TravelControllerDocs.java
  backend/src/main/java/com/staccato/travel/service/dto/request/TravelRequest.java
  backend/src/main/resources/application.yml
Labels: backend, 📜 docs

#119 feat: Entity 수정
  backend/src/main/java/com/staccato/pin/domain/Pin.java
  backend/src/main/java/com/staccato/pin/repository/PinRepository.java
  backend/src/main/java/com/staccato/travel/controller/TravelController.java
  backend/src/main/java/com/staccato/travel/service/dto/response/VisitResponse.java
  backend/src/main/java/com/staccato/visit/domain/Spot.java
  backend/src/main/java/com/staccato/visit/domain/Visit.java
  backend/src/main/java/com/staccato/visit/repository/VisitRepository.java
  backend/src/main/java/com/staccato/visit/service/VisitService.java
  backend/src/main/java/com/staccato/visit/service/dto/request/VisitRequest.java
  backend/src/main/java/com/staccato/visit/service/dto/response/VisitDetailResponse.java
  backend/src/test/java/com/staccato/travel/domain/TravelTest.java
  backend/src/test/java/com/staccato/travel/service/TravelServiceTest.java
  backend/src/test/java/com/staccato/visit/controller/VisitIntegrationTest.java
  backend/src/test/java/com/staccato/visit/service/VisitServiceTest.java
Labels: backend, 🚀 feat
