Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-05, with the labels that each got.

#785 fix: 개발 서버 인증키 변경 #784
  backend/src/main/resources/application-dev.yml
Labels: backend, 🥵 hotfix

#777 feat: 공동카테고리 정책에 맞추어 DDL 변경 #776
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/domain/CategoryMember.java
  backend/src/main/java/com/staccato/category/domain/Role.java
  backend/src/main/resources/db/migration/V12__add_shared_category_policy.sql
Labels: backend, feat

#797 build: Jetpack Compose 의존성 추가 #796
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, ⚙️ build

#805 ui: 디자인 시스템 변경에 따른 컬러 값 수정 및 compose용 컬러 추가 #804
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/theme/Colors.kt
  android/Staccato_AN/app/src/main/res/values/colors.xml
  android/Staccato_AN/app/src/main/res/values/styles_text_input.xml
Labels: android, ui

#810 ui: Compose용 Typography 추가 #809
  android/Staccato_AN/app/src/main/java/com/on/staccato/theme/Typography.kt
Labels: android, ui

#813 ui: Font에 해당하는 weight 설정 #812
  android/Staccato_AN/app/src/main/java/com/on/staccato/theme/Typography.kt
Labels: android, ui

#782 fix: 스타카토 수정 화면 카테고리 클릭 시 앱이 터지는 버그 #764
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/categoryselection/CategorySelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/categoryselection/CategorySelectionViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/categoryselection/CategorySelectionViewModelProvider.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/dialog/CategorySelectionHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
Labels: android, refactor, 🥵 hotfix

#808 fix: 닉네임 입력 형식 피드백 문구 수정 #807
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, fix, ui

#740 build: Android CI UI 테스트 추가 및 워크플로 개선
  .github/workflows/android-ci.yml
  android/Staccato_AN/.gitignore
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/androidTest/java/com/on/staccato/ExampleInstrumentedTest.kt
Labels: android, feat, fix, refactor, ⚙️ build

#781 build: main 에서 develop으로 PR 자동 생성 CI 작성 #775
  .github/workflows/ci-create-pr-main-to-develop.yml
Labels: android, backend, ⚙️ build

#779 feat: 모든 스타카토 조회 시 위경도 범위/카테고리를 기준으로 조회할 수 있도록 구현 #759 #763
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryStaccatoLocationRangeRequest.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryStaccatoLocationResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryStaccatoLocationResponses.java
  backend/src/main/java/com/staccato/staccato/controller/StaccatoController.java
  backend/src/main/java/com/staccato/staccato/controller/StaccatoControllerV2.java
  backend/src/main/java/com/staccato/staccato/controller/docs/StaccatoControllerV2Docs.java
  backend/src/main/java/com/staccato/staccato/repository/StaccatoRepository.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoService.java
  backend/src/main/java/com/staccato/staccato/service/dto/request/StaccatoLocationRangeRequest.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoLocationResponseV2.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoLocationResponsesV2.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerV2Test.java
  backend/src/test/java/com/staccato/staccato/domain/StaccatoTest.java
  backend/src/test/java/com/staccato/staccato/repository/StaccatoRepositoryTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoServiceTest.java
Labels: backend, feat

#817 feat: 닉네임으로 사용자 목록 검색 API 구현 #815
  backend/src/main/java/com/staccato/member/controller/MemberController.java
  backend/src/main/java/com/staccato/member/repository/MemberRepository.java
  backend/src/main/java/com/staccato/member/service/MemberService.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponses.java
  backend/src/test/java/com/staccato/member/controller/MemberControllerTest.java
  backend/src/test/java/com/staccato/member/service/MemberServiceTest.java
Labels: backend, feat

#828 fix: 안드로이드 CI UI Test 영구 실행 오류 #826
  .github/workflows/android-ci.yml
Labels: android, fix, ⚙️ build, ⛏️ chore, 🥵 hotfix

#792 refactor: 카테고리 리팩터링 리뷰 반영 #758
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/viewmodel/CategoryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categorycreation/CategoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categorycreation/CategoryCreationError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categorycreation/viewmodel/CategoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categoryupdate/CategoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categoryupdate/CategoryUpdateError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categoryupdate/viewmodel/CategoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/photo/UploadFile.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/category/viewmodel/CategoryViewModelTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/categorycreation/viewmodel/CategoryCreationViewModelTest.kt
Labels: android, refactor

#829 feat: 카테고리 목록 조회 API V3 구현 #821
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/CategoryControllerV2.java
  backend/src/main/java/com/staccato/category/controller/CategoryControllerV3.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerV3Docs.java
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponseV3.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponseV3.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponsesV2.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponsesV3.java
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/java/com/staccato/config/swagger/SwaggerExamples.java
  backend/src/main/java/com/staccato/staccato/repository/StaccatoRepository.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV2Test.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV3Test.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/fixture/category/CategoryFixtures.java
  backend/src/test/java/com/staccato/staccato/repository/StaccatoRepositoryTest.java
Labels: backend, feat

#834 fix: 누락된 isShared 필드 추가
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponseV3.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV3Test.java
Labels: backend, fix

#835 refactor: dto로 흩어진 도메인 정책 제거
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/domain/CategoryTitle.java
  backend/src/main/java/com/staccato/category/domain/Description.java
  backend/src/main/java/com/staccato/category/repository/CategoryMemberRepository.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryCreateRequest.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryRequest.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryRequestV2.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryUpdateRequest.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponseV2.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponseV3.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryNameResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponseV2.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponseV3.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponsesV3.java
  backend/src/main/java/com/staccato/category/service/dto/response/StaccatoResponse.java
  backend/src/main/java/com/staccato/comment/domain/Comment.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentRequest.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentUpdateRequest.java
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/member/domain/Nickname.java
  backend/src/main/java/com/staccato/staccato/domain/Staccato.java
  backend/src/main/java/com/staccato/staccato/domain/StaccatoTitle.java
  backend/src/main/java/com/staccato/staccato/service/dto/request/StaccatoRequest.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoDetailResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoSharedResponse.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV2Test.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV3Test.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
  backend/src/test/java/com/staccato/category/domain/CategoryTitleTest.java
  backend/src/test/java/com/staccato/category/domain/DescriptionTest.java
  backend/src/test/java/com/staccato/category/repository/CategoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/category/service/CategorySortTest.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/domain/CommentTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/config/jwt/MemberTokenProviderTest.java
  backend/src/test/java/com/staccato/member/domain/NicknameTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/domain/CategoryTitleTest.java
  backend/src/test/java/com/staccato/staccato/domain/StaccatoTest.java
  backend/src/test/java/com/staccato/staccato/repository/StaccatoRepositoryTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoServiceTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoShareServiceTest.java
Labels: backend, fix, refactor

#839 refactor: 카테고리 API 응답 수정 #836
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponseV3.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponseV3.java
  backend/src/main/java/com/staccato/config/swagger/SwaggerExamples.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV2Test.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV3Test.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
Labels: backend, feat, refactor

#842 feat: 보낸 초대 목록 조회 시 식별자 응답 필드 포함하도록 추가
  backend/src/main/java/com/staccato/config/swagger/SwaggerExamples.java
  backend/src/main/java/com/staccato/invitation/service/dto/response/CategoryInvitationRequestedResponse.java
  backend/src/test/java/com/staccato/invitation/controller/InvitationControllerTest.java
Labels: backend, feat

#843 feat: 공동카테고리 초대 수락/거절 및 초대 받은 목록 API 구현 #841
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/invitation/controller/InvitationController.java
  backend/src/main/java/com/staccato/invitation/controller/docs/InvitationControllerDocs.java
  backend/src/main/java/com/staccato/invitation/domain/CategoryInvitation.java
  backend/src/main/java/com/staccato/invitation/domain/InvitationStatus.java
  backend/src/main/java/com/staccato/invitation/repository/CategoryInvitationRepository.java
  backend/src/main/java/com/staccato/invitation/service/InvitationService.java
  backend/src/main/java/com/staccato/invitation/service/dto/response/CategoryInvitationReceivedResponse.java
  backend/src/main/java/com/staccato/invitation/service/dto/response/CategoryInvitationReceivedResponses.java
  backend/src/main/java/com/staccato/invitation/service/dto/response/CategoryInvitationRequestedResponses.java
  backend/src/main/java/com/staccato/invitation/service/dto/response/CategoryInvitationSentResponse.java
  backend/src/main/java/com/staccato/invitation/service/dto/response/CategoryInvitationSentResponses.java
  backend/src/main/resources/db/migration-test/V6__alter_category_invitation_fk.sql
  backend/src/main/resources/db/migration/V16__alter_category_invitation_fk.sql
  backend/src/test/java/com/staccato/category/repository/CategoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/invitation/controller/InvitationControllerTest.java
  backend/src/test/java/com/staccato/invitation/domain/CategoryInvitationTest.java
  backend/src/test/java/com/staccato/invitation/repository/CategoryInvitationRepositoryTest.java
  backend/src/test/java/com/staccato/invitation/service/InvitationServiceTest.java
Labels: backend, feat

#847 feat: 스타카토 카테고리 변경 제한 (공동 카테고리 <-> 개인 카테고리) #844
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerDocs.java
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/repository/CategoryMemberRepository.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/staccato/controller/StaccatoController.java
  backend/src/main/java/com/staccato/staccato/controller/StaccatoControllerV2.java
  backend/src/main/java/com/staccato/staccato/controller/docs/StaccatoControllerDocs.java
  backend/src/main/java/com/staccato/staccato/controller/docs/StaccatoControllerV2Docs.java
  backend/src/main/java/com/staccato/staccato/domain/Staccato.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoService.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoDetailResponseV2.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/repository/CategoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerV2Test.java
  backend/src/test/java/com/staccato/staccato/domain/StaccatoTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoServiceTest.java
Labels: backend, feat

#858 fix: 스타카토 수정 화면 카테고리 클릭 시 앱이 터지는 버그2 #857
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, fix
