Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-02, with the labels that each got.

#610 fix: Comment API에서 도메인명 안바뀐 부분 수정 #609
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentRequestV2.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerV2Test.java
Labels: backend, fix

#593 refactor: MomentImage update 시 수동 삭제 적용 #591
  backend/src/main/java/com/staccato/comment/repository/CommentRepository.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/domain/MomentImage.java
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
  backend/src/main/java/com/staccato/moment/repository/MomentImageRepository.java
  backend/src/main/java/com/staccato/moment/repository/MomentRepository.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/test/java/com/staccato/comment/repository/CommentRepositoryTest.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentImagesTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentImageRepositoryTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, refactor

#603 feat: 프로필 이미지 변경 및 타임라인 닉네임 표시 #538
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/ApiResult.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/ApiResultHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/UserInfoPreferencesManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/module/DataSourceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/module/SharedPreferencesModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageLocalDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageRemoteDataSourceImpl.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MemberProfile.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/MyPageRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memorycreation/viewmodel/MemoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memoryupdate/viewmodel/MemoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageMenuHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/viewmodel/MyPageViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_member.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_member_with_border.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/activity_mypage.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, feat, ui

#614 fix: LogBack appender xml 수정 #590
  backend/src/main/resources/error-appender.xml
  backend/src/main/resources/info-appender.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/warn-appender.xml
Labels: backend, fix

#615 feat: 필터링/조건 옵션 로깅 구현 #601
  backend/src/main/java/com/staccato/config/log/ReadAllCategoryMetricsAspect.java
  backend/src/main/java/com/staccato/memory/controller/CategoryController.java
  backend/src/main/java/com/staccato/memory/service/MemoryFilter.java
  backend/src/main/java/com/staccato/memory/service/MemorySort.java
  backend/src/test/java/com/staccato/config/log/ReadAllCategoryMetricsAspectTest.java
Labels: backend, feat

#612 feat: 기록 시점이 과거 / 현재 / 미래인지 비즈니스 매트릭 구성 #611
  backend/src/main/java/com/staccato/config/log/CreateMomentMetricsAspect.java
  backend/src/test/java/com/staccato/config/log/CreateMomentMetricsAspectTest.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryFixture.java
Labels: backend, feat

#619 deploy: v.1.3.0 배포 준비 #613
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, ⚙️ build, deploy, confirm

#622 deploy: v.1.3.0 배포 준비 #621
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
Labels: backend, feat

#625 build: Android CI&CD 수정 #624
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-dev.yml
Labels: android, fix, ⚙️ build

#629 deploy: v.1.3.0 배포(new) #627
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/webview/WebViewActivity.kt
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, refactor, 📜 docs, deploy

#638 fix: 코드 난독화 설정으로 인한 제네릭 타입 소거 에러 해결 #637
  android/Staccato_AN/app/proguard-rules.pro
Labels: android, ⚙️ build, 🥵 hotfix

#640 build: Android CD 수정 #636
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-dev.disabled.yml
Labels: android, fix, ⚙️ build

#639 feat: 로깅 적용 #581
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/DataSourceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/FirebaseModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/RepositoryModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/RetrofitModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/SharedPreferencesModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/PhotoAttachFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/util/logging/AnalyticsEvent.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/util/logging/AnalyticsLoggingManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/util/logging/LoggingManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/util/logging/Param.kt
Labels: android, feat

#631 refactor: Actuator 설정 값 변경 #555
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/staccato/config/log/CreateMomentMetricsAspectTest.java
Labels: backend, refactor

#649 fix: 둥근 모서리 Coil 이미지의 radius값 통일 #648
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/ImageBindingAdapter.kt
  android/Staccato_AN/app/src/main/res/drawable/shape_all_gray1_5dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_all_stroke_gray1_4dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_attached_photo_5dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_attached_photo_8dp.xml
  android/Staccato_AN/app/src/main/res/drawable/shape_gradient_4dp.xml
  android/Staccato_AN/app/src/main/res/layout/activity_category_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_category_update.xml
  android/Staccato_AN/app/src/main/res/layout/activity_staccato_update.xml
  android/Staccato_AN/app/src/main/res/layout/item_attached_photo.xml
  android/Staccato_AN/app/src/main/res/layout/item_staccatos.xml
  android/Staccato_AN/app/src/main/res/layout/item_timeline.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
Labels: android, fix, ui

#651 fix: 이미지 순서 수정 시 반영 안되는 문제 #650
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/main/java/com/staccato/moment/domain/MomentImages.java
  backend/src/main/java/com/staccato/moment/service/MomentService.java
  backend/src/test/java/com/staccato/moment/domain/MomentImagesTest.java
Labels: backend, fix
