Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-04, with the labels that each got.

#718 build: Android CI 테스트 로깅 출력 #717
  .github/workflows/android-ci.yml
Labels: android, ⚙️ build

#690 feat: 카테고리 색상 변경 API 구현 #685
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerDocs.java
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/domain/Color.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryColorRequest.java
  backend/src/main/resources/db/migration/V10__add_color_column.sql
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
Labels: backend, feat

#700 refactor: 스타카토 공유 링크 도메인 관리 방법 변경 #688
  backend/src/main/java/com/staccato/staccato/controller/StaccatoController.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoService.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoShareService.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoShareLinkResponse.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/staccato/ControllerTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoServiceTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoShareServiceTest.java
Labels: backend, refactor

#724 fix: 714 branch merge conflict 해결하기 #723
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/auth/service/dto/response/LoginResponse.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryReadRequest.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryRequest.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryIdResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryNameResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryResponse.java
  backend/src/main/java/com/staccato/category/service/dto/response/StaccatoResponse.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentRequest.java
  backend/src/main/java/com/staccato/comment/service/dto/request/CommentUpdateRequest.java
  backend/src/main/java/com/staccato/comment/service/dto/response/CommentResponse.java
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/java/com/staccato/config/swagger/SwaggerExamples.java
  backend/src/main/java/com/staccato/image/service/dto/ImageUrlResponse.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberProfileImageResponse.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberProfileResponse.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/request/FeelingRequest.java
  backend/src/main/java/com/staccato/staccato/service/dto/request/StaccatoRequest.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/CommentShareResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoDetailResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoIdResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoLocationResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoShareLinkResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoSharedResponse.java
Labels: backend, fix

#729 feat: 스타카토 공유 링크 썸네일 지정 #728
  backend/src/main/java/com/staccato/web/PageController.java
  backend/src/main/resources/static/css/share.css
  backend/src/main/resources/static/js/share.js
  backend/src/main/resources/templates/share.html
  backend/src/test/java/com/staccato/web/PageControllerTest.java
Labels: backend, feat

#742 feat: 특정 카테고리 조회 시 색상 응답 필드를 포함하는 API V2 구현 #741
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/CategoryControllerV2.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerV2Docs.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponseV2.java
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV2Test.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
Labels: backend, feat

#743 feat: 이미지 개수 제한 정책 변경 반영 #722
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/staccato/controller/docs/StaccatoControllerDocs.java
  backend/src/main/java/com/staccato/staccato/domain/StaccatoImages.java
  backend/src/main/java/com/staccato/staccato/service/dto/request/StaccatoRequest.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/domain/StaccatoImagesTest.java
Labels: backend, feat

#725 fix: 스타카토 이미지 수정 시 카테고리 수정 일시 갱신되도록 수정 #721
  backend/src/main/java/com/staccato/staccato/domain/Staccato.java
  backend/src/main/java/com/staccato/staccato/domain/StaccatoImage.java
  backend/src/main/java/com/staccato/staccato/domain/StaccatoImages.java
  backend/src/test/java/com/staccato/staccato/domain/StaccatoImagesTest.java
Labels: backend, fix

#746 refactor: 스타카토 공유 페이지 디자인 수정 #745
  backend/src/main/resources/static/css/share.css
  backend/src/main/resources/static/js/share.js
  backend/src/main/resources/templates/share.html
Labels: backend, refactor

#716 refactor: 카테고리 기능 리팩터링 및 테스트 작성 #582
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ApiResultHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/model/CategoryUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/viewmodel/CategoryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categorycreation/CategoryCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categorycreation/CategoryCreationError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categorycreation/viewmodel/CategoryCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categoryupdate/CategoryUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categoryupdate/CategoryUpdateError.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/categoryupdate/viewmodel/CategoryUpdateViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/SingleLiveData.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/photo/FileUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/ExceptionState.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/FileUtils.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_category.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/InstantTaskExecutorExtension.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/LiveDataTestUtil.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/category/CategoryFixture.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/category/viewmodel/CategoryViewModelTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/categorycreation/viewmodel/CategoryCreationViewModelTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/categoryupdate/viewmodel/CategoryUpdateViewModelTest.kt
Labels: android, refactor, ✅ test

#737 fix: 네트워크 재설정 시 스타카토 마커가 로딩되지 않는 오류 해결 #709
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/viewmodel/MapsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/ExceptionState.kt
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, 🥵 hotfix

#749 feat: P99 latency 적용 + Spring Boot OTLP 설정 #744
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, feat

#751 build: v1.4.0 배포 준비 #747
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, ⚙️ build, deploy

#755 feat: Grafana에서 trace 검색 가능하게 하기 #754
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, feat

#767 feat: spring boot trace 생성 관련 의존성 추가 #766
  backend/build.gradle
Labels: backend, ⚙️ build

#770 fix: spring boot trace 생성 관련 의존성 변경 #769
  backend/build.gradle
Labels: backend, ⛏️ chore

#772 fix: Tempo url 암호화 수정 #771
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/staccato/config/JasyptConfigTest.java
Labels: backend, fix

#773 fix: Tempo url 암호화 최종 수정 #771
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, fix
