Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-01, with the labels that each got.

#567 refactor: 카테고리, 일시 선택 순서 변경 및 리팩터링 (스타카토 생성/수정) #564
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/DateCalendar.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MemoryCandidate.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MemoryCandidates.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MonthCalendar.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/YearCalendar.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/memory/MemoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/feeling/StaccatoFeelingSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/dialog/VisitedAtSelectionFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_staccato_creation.xml
  android/Staccato_AN/app/src/main/res/layout/activity_staccato_update.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_memory_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_visited_at_selection.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/CalendarFixture.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/DateCalendarTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/MemoryCandidateFixture.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/MemoryCandidateTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/MemoryCandidatesTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/MonthCalendarTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/YearCalendarTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/LiveDataTestUtil.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/MainDispatcherRule.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModelTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModelTest.kt
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, refactor, ✅ test

#589 fix: 사진 첨부를 길게 터치할 시 액티비티가 종료되는 버그 (스타카토 생성/수정 화면) #588
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/adapter/AttachedPhotoItemTouchHelperCallback.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/adapter/ItemDragListener.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/adapter/PhotoAttachAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
Labels: android, fix

#592 refactor: Comment Api의 버저닝 제거(v2 제거)
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/comment/CommentApiService.kt
Labels: android, refactor

#568 chore: 무중단 배포 Workflow 전략 수정 #565
  .github/workflows/backend-ci-cd-multi-prod.yml
Labels: backend, ⚙️ build, ⛏️ chore

#579 ui: 도메인명 변경에 따라 추억을 카테고리로 수정 #578
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, ui

#577 feat: 스타카토 웹 메인 페이지 생성 #576
  backend/build.gradle
  backend/src/main/java/com/staccato/web/HomeController.java
  backend/src/main/resources/static/index.css
  backend/src/main/resources/templates/index.html
Labels: backend, feat

#598 refactor: 화면에 반응형 디자인 적용 #597
  backend/src/main/resources/static/index.css
  backend/src/main/resources/templates/index.html
Labels: backend, refactor, 💈 style

#600 refactor: 개발 서버 워크플로우 수정 (배포 트리거가 PR로 잘못 설정됨) #599
  .github/workflows/backend-ci-cd-multi-prod.yml
Labels: backend, refactor, ⚙️ build

#583 feat: 추억 목록 정렬, 필터링 API 구현 #546
  backend/src/main/java/com/staccato/config/domain/BaseEntity.java
  backend/src/main/java/com/staccato/memory/controller/MemoryController.java
  backend/src/main/java/com/staccato/memory/controller/docs/MemoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/domain/Memory.java
  backend/src/main/java/com/staccato/memory/domain/Term.java
  backend/src/main/java/com/staccato/memory/repository/MemoryMemberRepository.java
  backend/src/main/java/com/staccato/memory/service/MemoryFilter.java
  backend/src/main/java/com/staccato/memory/service/MemoryService.java
  backend/src/main/java/com/staccato/memory/service/MemorySort.java
  backend/src/main/java/com/staccato/memory/service/dto/request/MemoryReadRequest.java
  backend/src/main/java/com/staccato/moment/domain/Moment.java
  backend/src/test/java/com/staccato/ControllerTest.java
  backend/src/test/java/com/staccato/RepositoryTest.java
  backend/src/test/java/com/staccato/RepositoryTestConfig.java
  backend/src/test/java/com/staccato/ServiceSliceTest.java
  backend/src/test/java/com/staccato/ServiceTestConfig.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/comment/repository/CommentRepositoryTest.java
  backend/src/test/java/com/staccato/comment/service/CommentServiceTest.java
  backend/src/test/java/com/staccato/fixture/memory/MemoryFixture.java
  backend/src/test/java/com/staccato/fixture/moment/MomentRequestFixture.java
  backend/src/test/java/com/staccato/image/controller/ImageControllerTest.java
  backend/src/test/java/com/staccato/member/controller/MyPageControllerTest.java
  backend/src/test/java/com/staccato/memory/controller/MemoryControllerTest.java
  backend/src/test/java/com/staccato/memory/domain/MemoryTest.java
  backend/src/test/java/com/staccato/memory/domain/TermTest.java
  backend/src/test/java/com/staccato/memory/repository/MemoryMemberRepositoryTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryFilterTest.java
  backend/src/test/java/com/staccato/memory/service/MemoryServiceTest.java
  backend/src/test/java/com/staccato/memory/service/MemorySortTest.java
  backend/src/test/java/com/staccato/moment/controller/MomentControllerTest.java
  backend/src/test/java/com/staccato/moment/domain/MomentTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentImageRepositoryTest.java
  backend/src/test/java/com/staccato/moment/repository/MomentRepositoryTest.java
  backend/src/test/java/com/staccato/moment/service/MomentServiceTest.java
Labels: backend, feat

#605 fix: 필터링 API 파싱 오류 수정 #604
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-multi-dev.yml
  backend/src/main/java/com/staccato/auth/service/dto/request/LoginRequest.java
  backend/src/main/java/com/staccato/memory/service/MemoryFilter.java
  backend/src/main/java/com/staccato/memory/service/dto/request/MemoryReadRequest.java
  backend/src/test/java/com/staccato/memory/service/MemoryFilterTest.java
  backend/src/test/java/com/staccato/memory/service/MemorySortTest.java
  backend/src/test/java/com/staccato/memory/service/dto/request/MemoryReadRequestTest.java
Labels: backend, 🥵 hotfix

#585 refactor: comment API 버저닝 제거 #584
  backend/src/main/java/com/staccato/comment/controller/CommentController.java
  backend/src/main/java/com/staccato/comment/controller/docs/CommentControllerDocs.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
Labels: backend, feat

#596 refactor: 도메인명 변경 (memory -> category, moment -> staccato) #594
  backend/src/main/java/com/staccato/memory/controller/CategoryController.java
  backend/src/main/java/com/staccato/memory/controller/CategoryDtoMapper.java
  backend/src/main/java/com/staccato/memory/controller/docs/CategoryControllerDocs.java
  backend/src/main/java/com/staccato/memory/service/dto/request/CategoryReadRequest.java
  backend/src/main/java/com/staccato/memory/service/dto/request/CategoryRequest.java
  backend/src/main/java/com/staccato/memory/service/dto/response/CategoryDetailResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/CategoryIdResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/CategoryNameResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/CategoryNameResponses.java
  backend/src/main/java/com/staccato/memory/service/dto/response/CategoryResponse.java
  backend/src/main/java/com/staccato/memory/service/dto/response/CategoryResponses.java
  backend/src/main/java/com/staccato/memory/service/dto/response/StaccatoResponse.java
  backend/src/main/java/com/staccato/moment/controller/StaccatoController.java
  backend/src/main/java/com/staccato/moment/controller/StaccatoDtoMapper.java
  backend/src/main/java/com/staccato/moment/controller/docs/StaccatoControllerDocs.java
  backend/src/main/java/com/staccato/moment/service/dto/request/StaccatoRequest.java
  backend/src/main/java/com/staccato/moment/service/dto/response/StaccatoDetailResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/StaccatoIdResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/StaccatoLocationResponse.java
  backend/src/main/java/com/staccato/moment/service/dto/response/StaccatoLocationResponses.java
  backend/src/test/java/com/staccato/memory/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/memory/service/dto/request/CategoryReadRequestTest.java
  backend/src/test/java/com/staccato/memory/service/dto/request/CategoryRequestTest.java
  backend/src/test/java/com/staccato/moment/controller/StaccatoControllerTest.java
Labels: backend, refactor

#607 fix: 스타카토 조회 API 응답값 매핑 오류 수정 #606
  backend/src/main/java/com/staccato/moment/controller/StaccatoDtoMapper.java
Labels: backend, fix
