Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-07, with the labels that each got.

#951 refactor: 클러스터링 리뷰 반영 및 홈/카테고리 불필요한 호출 제거 #935
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/ManagerModule.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/category/CategoryFragment.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/category/CategoryHandler.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/category/DebouncedClick.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/category/model/CategoryRefresh.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/main/HomeRefresh.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/map/MapsFragment.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/map/StaccatosScreen.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/map/cluster/ClusterDrawManager.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/map/component/StaccatosDialog.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/map/component/StaccatosTopBar.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/presentation/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/presentation/src/main/res/layout/fragment_category.xml
Labels: android, refactor, D-0

#953 deploy: 2.1.1 배포 준비 #952
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
  android/Staccato_AN/presentation/src/main/res/values/strings.xml
Labels: android, deploy, D-3

#961 deploy: v2.1.2 배포 준비 #960
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
  android/Staccato_AN/presentation/src/main/res/values/strings.xml
Labels: android, D-3, D-0

#976 feat: 카테고리 내 스타카토 목록 조회 시 페이지네이션 및 API 분리 #966
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/CategoryControllerV2.java
  backend/src/main/java/com/staccato/category/controller/CategoryControllerV3.java
  backend/src/main/java/com/staccato/category/controller/CategoryControllerV4.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerDocs.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerV2Docs.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerV3Docs.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerV4Docs.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/category/service/StaccatoCursor.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryDetailResponseV4.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryStaccatoLocationResponses.java
  backend/src/main/java/com/staccato/category/service/dto/response/CategoryStaccatoResponses.java
  backend/src/main/java/com/staccato/config/OpenApiConfig.java
  backend/src/main/java/com/staccato/config/swagger/SwaggerExamples.java
  backend/src/main/java/com/staccato/staccato/controller/docs/StaccatoControllerV2Docs.java
  backend/src/main/java/com/staccato/staccato/repository/StaccatoRepository.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV2Test.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV3Test.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/category/service/StaccatoCursorTest.java
  backend/src/test/java/com/staccato/staccato/repository/StaccatoRepositoryTest.java
Labels: backend, feat, D-0
