Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-06, with the labels that each got.

#827 fix: 스타카토 생성 화면에서 위치 권한이 없을 때 현위치 조회 시 교육용 UI가 표시되지 않던 문제 해결 #802
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
Labels: android, fix, 🥵 hotfix

#872 feat: 사용자 식별자 응답 필드를 추가한 mypage V2 API 구현
  backend/src/main/java/com/staccato/member/controller/MemberController.java
  backend/src/main/java/com/staccato/member/controller/MyPageControllerV2.java
  backend/src/main/java/com/staccato/member/controller/docs/MemberControllerDocs.java
  backend/src/main/java/com/staccato/member/controller/docs/MyPageControllerV2Docs.java
  backend/src/main/java/com/staccato/member/service/dto/response/MemberProfileResponseV2.java
  backend/src/test/java/com/staccato/member/controller/MyPageControllerV2Test.java
Labels: backend, feat

#871 fix: 필수값이 아닌 Long이 원시값으로 파싱 안되는 오류 수정
  backend/src/main/java/com/staccato/member/service/MemberService.java
  backend/src/main/java/com/staccato/member/service/dto/request/MemberReadRequest.java
  backend/src/test/java/com/staccato/member/controller/MemberControllerTest.java
  backend/src/test/java/com/staccato/member/service/MemberServiceTest.java
Labels: backend, fix

#866 feat: 스타카토 코멘트 구분 #865
  android/Staccato_AN/app/src/main/java/com/on/staccato/StaccatoApplication.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/UserInfoPreferencesManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/login/NicknameLoginResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/MyPageMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/member/RecoveryCodeResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mypage/MemberProfileResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/login/LoginApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/login/LoginDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/member/MemberLocalDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/mypage/MyPageRemoteDataSourceImpl.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ApiResultCall.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ApiResultCallAdapterFactory.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ErrorConverter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ResponseHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/StaccatoClient.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/TokenManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/ApiServiceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/DataSourceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/ManagerModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/NetworkModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/RetrofitModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/SharedPreferencesModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/MemberProfile.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/LoginRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/MemberRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/clipboard/ClipboardHelper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/viewmodel/LoginViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mapper/StaccatoUiModelMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/CommentHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/CommentUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/CommentViewHolder.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/CommentViewType.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/CommentsAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/comments/StaccatoCommentsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/viewmodel/StaccatoViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/PopupMenuUtils.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_staccato.xml
  android/Staccato_AN/app/src/main/res/layout/item_staccato_my_comment.xml
  android/Staccato_AN/app/src/main/res/layout/item_staccato_others_comment.xml
  android/Staccato_AN/app/src/main/res/menu/menu_comment.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles_comment.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/data/ApiResultCallAdapterTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/data/MockWebServerProvider.kt
Labels: android, feat, refactor

#879 feat: 알림 존재 여부 조회 API 구현 #877
  backend/src/main/java/com/staccato/invitation/repository/CategoryInvitationRepository.java
  backend/src/main/java/com/staccato/notification/controller/NotificationController.java
  backend/src/main/java/com/staccato/notification/controller/docs/NotificationControllerDocs.java
  backend/src/main/java/com/staccato/notification/service/NotificationService.java
  backend/src/main/java/com/staccato/notification/service/dto/response/NotificationExistResponse.java
  backend/src/test/java/com/staccato/ControllerTest.java
  backend/src/test/java/com/staccato/notification/controller/NotificationControllerTest.java
  backend/src/test/java/com/staccato/notification/service/NotificationServiceTest.java
Labels: backend, feat, D-0

#864 fix: GET /categories/candidates 전체/개인 카테고리 조회 분리 #863
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerDocs.java
  backend/src/main/java/com/staccato/category/repository/CategoryRepository.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/exception/GlobalExceptionHandler.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/repository/CategoryRepositoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
Labels: backend, fix

#880 feat: 홈 화면 카테고리 초대 알림 표시 기능 구현 #878
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/NotificationMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/notification/NotificationExistenceResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/notification/NotificationApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/notification/NotificationDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/ApiServiceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/RepositoryModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/notification/NotificationExistence.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/NotificationRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/res/drawable/notification_point.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, feat, D-0

#882 fix: ErrorResponse 변환 오류 및 NetworkModule 순환 참조 문제 해결 #881
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ApiResultCall.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ApiResultCallAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ApiResultCallAdapterFactory.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ErrorConverter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ResponseHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/NetworkModule.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/data/ApiResultCallAdapterTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/data/MockWebServerProvider.kt
Labels: android, fix, 🥵 hotfix, D-0

#867 feat: 마이페이지 공동 카테고리 초대 관리 #803
  android/Staccato_AN/.editorconfig
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/StaccatoApplication.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/invitation/ReceivedInvitationDto.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/invitation/ReceivedInvitationsResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/invitation/SentInvitationDto.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/invitation/SentInvitationsResponse.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/mapper/InvitationMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/invitation/InvitationApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/invitation/InvitationDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/ApiServiceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/invitation/ReceivedInvitation.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/invitation/SentInvitation.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/InvitationRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/component/DefaultAlertDialog.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/component/DefaultEmptyView.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/component/DefaultTextButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/component/topbar/DefaultNavigationTopBar.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/InvitationManagementActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/InvitationManagementScreen.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/CategoryTitle.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/InvitationDialogs.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/InvitationManagement.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/InvitationManagementTopBar.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/NicknameText.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/ProfileImage.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/menu/InvitationSelectionMenu.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/menu/MenuTab.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/model/InvitationDialogState.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/model/InvitationTabMenu.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/model/ReceivedInvitationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/model/SentInvitationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/model/ToastMessage.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/received/ReceivedInvitations.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/received/component/AcceptButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/received/component/ReceivedInvitationItem.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/received/component/RejectButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/sent/SentInvitations.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/sent/component/CancelButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/sent/component/SentInvitationItem.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/viewmodel/InvitationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mapper/InvitationMapper.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/component/MyPageMenuButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/viewmodel/MyPageViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/MessageUtils.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_receive.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_send.xml
  android/Staccato_AN/app/src/main/res/layout/activity_mypage.xml
  android/Staccato_AN/app/src/main/res/menu/menu_comment.xml
  android/Staccato_AN/app/src/main/res/values-night/colors.xml
  android/Staccato_AN/app/src/main/res/values-night/themes.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles.xml
  android/Staccato_AN/app/src/main/res/values/themes.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, feat

#883 deploy: v2.0.0 배포 준비 #874
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, backend, deploy, D-3

#893 fix: 안드로이드 CD 워크플로에서 앱 서명이 적용되지 않는 문제 해결 #890
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-dev.yml
Labels: android, fix, ⚙️ build, D-2

#896 fix: 누락된 이미지 업로드 시 용량 초과 오류 처리 추가 #895
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/network/ResponseHandler.kt
Labels: android, fix, 🥵 hotfix, D-0

#907 feat: 공동카테고리 나가기 API 구현 #906
  backend/src/main/java/com/staccato/category/controller/CategoryController.java
  backend/src/main/java/com/staccato/category/controller/docs/CategoryControllerDocs.java
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/repository/CategoryMemberRepository.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/main/java/com/staccato/comment/domain/Comment.java
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/invitation/domain/CategoryInvitation.java
  backend/src/main/java/com/staccato/invitation/service/InvitationService.java
  backend/src/main/java/com/staccato/staccato/domain/Staccato.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoShareService.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
  backend/src/test/java/com/staccato/category/service/CategoryServiceTest.java
  backend/src/test/java/com/staccato/comment/domain/CommentTest.java
  backend/src/test/java/com/staccato/staccato/domain/StaccatoTest.java
Labels: backend, feat, D-0

#914 fix: commit push 빠뜨림
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/main/java/com/staccato/category/service/CategoryService.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
Labels: backend, fix, D-3

#913 feat: 지도 기준 스타카토 목록 조회 API 응답 필드 추가 #912
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoLocationResponseV2.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/staccato/auth/controller/AuthControllerV2Test.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerTest.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV2Test.java
  backend/src/test/java/com/staccato/category/controller/CategoryControllerV3Test.java
  backend/src/test/java/com/staccato/comment/controller/CommentControllerTest.java
  backend/src/test/java/com/staccato/invitation/controller/InvitationControllerTest.java
  backend/src/test/java/com/staccato/member/controller/MemberControllerTest.java
  backend/src/test/java/com/staccato/member/controller/MyPageControllerTest.java
  backend/src/test/java/com/staccato/member/controller/MyPageControllerV2Test.java
  backend/src/test/java/com/staccato/notification/controller/NotificationControllerTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerV2Test.java
Labels: backend, feat, refactor

#905 fix: 지도의 위치가 onResume이 불릴 때마다 현 위치로 변경되는 문제 해결 #903
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/LocationDialogFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/component/DefaultFloatingActionButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/CurrentLocationFabBehavior.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/component/CurrentLocationFloatingActionButton.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_current_location.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_plus.xml
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_maps.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, fix, D-0

#909 chore: 최신 develop 브랜치 반영 여부 확인하는 workflow 작성 #908
  .github/workflows/develop-up-to-date-checker.yml
Labels: android, backend, ⛏️ chore, D-0

#910 fix: 안드로이드 CI UI 테스트 불안정 문제 해결 #904
  .github/workflows/android-ci.yml
Labels: android, fix, ⚙️ build, ⛏️ chore, D-0

#897 fix: 초대 수락 후 타임라인 업데이트가 되지 않는 불편함 개선 #892
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/invitation/InvitationDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/InvitationRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/InvitationManagementActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/viewmodel/InvitationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/MyPageActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mypage/viewmodel/MyPageViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
Labels: android, fix, refactor, D-0

#924 feat: 공동 카테고리 나가기 기능 #919
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/category/CategoryApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/category/CategoryDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/category/CategoryDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/category/CategoryRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/CategoryRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/component/ExitDialog.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/component/ExitDialogScreen.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/model/CategoryDialogState.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/model/CategoryEvent.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/viewmodel/CategoryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/ToolbarHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/component/DefaultTextButton.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/invitation/component/InvitationDialogs.kt
  android/Staccato_AN/app/src/main/res/layout/fragment_category.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_delete_impossibility_dialog.xml
  android/Staccato_AN/app/src/main/res/layout/toolbar_detail.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/category/viewmodel/CategoryViewModelTest.kt
Labels: android, feat, D-0

#929 feat: 공동카테고리에 함께하는 사람이 추가되면, 카테고리의 updatedAt 갱신 #928
  backend/src/main/java/com/staccato/category/domain/Category.java
  backend/src/test/java/com/staccato/category/domain/CategoryTest.java
Labels: backend, feat, D-3

#916 feat: 안드로이드 FCM 알림 기능 #900
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/AndroidManifest.xml
  android/Staccato_AN/app/src/main/java/com/on/staccato/StaccatoApplication.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/dto/notification/FcmTokenRequest.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/notification/NotificationApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/notification/NotificationDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/DataSourceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/NetworkModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/RepositoryModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/NotificationRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/notification/NotificationChannelType.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/notification/NotificationPermissionManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/notification/NotificationPermissionRationale.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/notification/StaccatoFirebaseMessagingService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/notification/StaccatoNotificationManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/LoginActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/viewmodel/LoginViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/RecoveryActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/recovery/viewmodel/RecoveryViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/util/CoroutineUtils.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, feat, ui

#930 deploy: 2.1.0 배포 준비 #927
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, deploy, D-0

#923 feat: 알림 클릭 시 해당 화면으로 이동하는 기능 구현 #922
  backend/src/main/java/com/staccato/comment/service/CommentService.java
  backend/src/main/java/com/staccato/comment/service/dto/event/CommentCreatedEvent.java
  backend/src/main/java/com/staccato/notification/listener/NotificationEventListener.java
  backend/src/main/java/com/staccato/notification/service/FcmService.java
  backend/src/main/java/com/staccato/notification/service/NotificationService.java
  backend/src/main/java/com/staccato/notification/service/dto/message/AcceptInvitationMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/CommentCreatedMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/PushMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/ReceiveInvitationMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/StaccatoCreatedMessage.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoService.java
  backend/src/main/java/com/staccato/staccato/service/dto/event/StaccatoCreatedEvent.java
  backend/src/test/java/com/staccato/notification/listener/NotificationEventListenerTest.java
  backend/src/test/java/com/staccato/notification/service/FcmServiceTest.java
  backend/src/test/java/com/staccato/notification/service/NotificationServiceTest.java
Labels: backend, feat, D-0

#940 feat: 알림 구성 변경 (Notification & Data 모두 전달) #938
  backend/src/main/java/com/staccato/notification/service/FcmService.java
  backend/src/main/java/com/staccato/notification/service/dto/message/AcceptInvitationMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/CommentCreatedMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/MessageType.java
  backend/src/main/java/com/staccato/notification/service/dto/message/PushMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/ReceiveInvitationMessage.java
  backend/src/main/java/com/staccato/notification/service/dto/message/StaccatoCreatedMessage.java
  backend/src/test/java/com/staccato/notification/service/FcmServiceTest.java
Labels: backend, refactor
