Repository woowacourse-teams/2024-staccato, pull requests merged in 2025-03, with the labels that each got.

#676 fix: Firebase Analytics 이벤트 로깅 시 매개변수 정보 누락 #675
  android/Staccato_AN/app/src/main/java/com/on/staccato/util/logging/Param.kt
Labels: android, fix

#667 feat: 민감 정보 jasypt 적용 #647
  .github/workflows/backend-ci-cd-dev.yml
  .github/workflows/backend-ci-cd-multi-dev.yml
  .github/workflows/backend-ci-cd-prod.yml
  .github/workflows/backend-ci.yml
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/build.gradle
  backend/src/main/java/com/staccato/config/JasyptConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/com/staccato/config/JasyptConfigTest.java
Labels: backend, feat, refactor, ⚙️ build

#679 feat: 정렬/필터링 API에 비즈니스 정책 변경 반영 #678
  backend/src/main/java/com/staccato/category/service/CategoryFilter.java
  backend/src/main/java/com/staccato/category/service/CategorySort.java
  backend/src/main/java/com/staccato/category/service/dto/request/CategoryReadRequest.java
  backend/src/test/java/com/staccato/category/service/CategoryFilterTest.java
  backend/src/test/java/com/staccato/category/service/CategorySortTest.java
  backend/src/test/java/com/staccato/category/service/dto/request/CategoryReadRequestTest.java
  backend/src/test/java/com/staccato/config/log/ReadAllCategoryMetricsAspectTest.java
  backend/src/test/java/com/staccato/fixture/category/CategoryFixture.java
Labels: backend, feat

#668 feat: 스타카토 공유 기능 구현 #645
  backend/src/main/java/com/staccato/auth/service/AuthService.java
  backend/src/main/java/com/staccato/config/auth/TokenProvider.java
  backend/src/main/java/com/staccato/config/jwt/AbstractTokenProvider.java
  backend/src/main/java/com/staccato/config/jwt/MemberTokenProvider.java
  backend/src/main/java/com/staccato/config/jwt/ShareTokenProvider.java
  backend/src/main/java/com/staccato/config/jwt/TokenProperties.java
  backend/src/main/java/com/staccato/config/jwt/dto/ShareTokenPayload.java
  backend/src/main/java/com/staccato/exception/WebExceptionHandler.java
  backend/src/main/java/com/staccato/member/domain/Member.java
  backend/src/main/java/com/staccato/staccato/controller/StaccatoController.java
  backend/src/main/java/com/staccato/staccato/controller/docs/StaccatoControllerDocs.java
  backend/src/main/java/com/staccato/staccato/repository/StaccatoImageRepository.java
  backend/src/main/java/com/staccato/staccato/service/StaccatoService.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/CommentShareResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoShareLinkResponse.java
  backend/src/main/java/com/staccato/staccato/service/dto/response/StaccatoSharedResponse.java
  backend/src/main/java/com/staccato/web/HomeController.java
  backend/src/main/java/com/staccato/web/PageController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/static/css/error.css
  backend/src/main/resources/static/css/index.css
  backend/src/main/resources/static/css/share.css
  backend/src/main/resources/static/js/share.js
  backend/src/main/resources/templates/error.html
  backend/src/main/resources/templates/error/400.html
  backend/src/main/resources/templates/error/401.html
  backend/src/main/resources/templates/error/403.html
  backend/src/main/resources/templates/error/404.html
  backend/src/main/resources/templates/error/500.html
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/share.html
  backend/src/test/java/com/staccato/ControllerTest.java
  backend/src/test/java/com/staccato/auth/service/AuthServiceTest.java
  backend/src/test/java/com/staccato/config/auth/TokenProviderTest.java
  backend/src/test/java/com/staccato/config/jwt/AbstractTokenProviderTest.java
  backend/src/test/java/com/staccato/config/jwt/MemberTokenProviderTest.java
  backend/src/test/java/com/staccato/config/jwt/ShareTokenProviderTest.java
  backend/src/test/java/com/staccato/fixture/member/MemberFixture.java
  backend/src/test/java/com/staccato/fixture/staccato/StaccatoSharedResponseFixture.java
  backend/src/test/java/com/staccato/staccato/controller/StaccatoControllerTest.java
  backend/src/test/java/com/staccato/staccato/service/StaccatoServiceTest.java
  backend/src/test/java/com/staccato/util/StubTokenProvider.java
Labels: backend, feat

#682 chore: an/be CD 워크플로우 조건문 추가 #659
  .github/workflows/android-cd.yml
  .github/workflows/backend-ci-cd-prod.yml
Labels: backend, ⛏️ chore

#663 refactor: 지도 및 현위치 조회 리팩터링 및 지도 카메라 이동 로직 수정 #587
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/location/LocationDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/location/LocationDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/location/LocationLocalDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/DataSourceModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/LocationModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/di/module/RepositoryModule.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/LocationRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/category/CategoryHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/LocationPermissionManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/GPSManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/LocationDialogFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/LocationPermissionManager.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/location/PermissionCancelListener.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/MapsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/MapsFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/model/LocationUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/model/MarkerUiModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/map/viewmodel/MapsViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccato/StaccatoFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModel.kt
  android/Staccato_AN/app/src/main/res/layout/activity_main.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_category.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_maps.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/staccatocreation/viewmodel/StaccatoCreationViewModelTest.kt
  android/Staccato_AN/app/src/test/java/com/on/staccato/presentation/staccatoupdate/viewmodel/StaccatoUpdateViewModelTest.kt
Labels: android, feat, refactor, 🥵 hotfix

#672 feat: 카테고리 정렬 및 필터링 API 연결 (#662)
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/timeline/TimeLineApiService.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/timeline/TimelineDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/timeline/TimelineDefaultRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/data/timeline/TimelineRemoteDataSource.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/repository/TimelineRepository.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/BindingAdapters.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/ImageBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/MainActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/main/viewmodel/SharedViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatocreation/StaccatoCreationActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/staccatoupdate/StaccatoUpdateActivity.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineFragment.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/TimelineHandler.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/model/FilterType.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/model/SortType.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/timeline/viewmodel/TimelineViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/util/DimensionUtils.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_arrow_drop_down.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_filter.xml
  android/Staccato_AN/app/src/main/res/drawable/icon_sort.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_timeline.xml
  android/Staccato_AN/app/src/main/res/menu/menu_sort.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
Labels: android, feat, fix, ui

#673 refactor: 닉네임 입력 기능 개선 및 리팩터링 #580
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/androidTest/java/com/on/staccato/presentation/login/LoginActivityTest.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/Nickname.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/domain/model/NicknameState.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/ButtonBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/MetricsConverter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/bindingadapter/TextBindingAdapter.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/common/InputState.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/login/viewmodel/LoginViewModel.kt
  android/Staccato_AN/app/src/main/java/com/on/staccato/presentation/mapper/InputStateMapper.kt
  android/Staccato_AN/app/src/main/res/drawable/icon_delete_small.xml
  android/Staccato_AN/app/src/main/res/layout/activity_login.xml
  android/Staccato_AN/app/src/main/res/layout/fragment_staccato.xml
  android/Staccato_AN/app/src/main/res/values/colors.xml
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/app/src/main/res/values/styles_button.xml
  android/Staccato_AN/app/src/main/res/values/styles_text_input.xml
  android/Staccato_AN/app/src/test/java/com/on/staccato/domain/model/NicknameTest.kt
  android/Staccato_AN/gradle/libs.versions.toml
Labels: android, feat, refactor

#686 build: 안드로이드 CD 워크플로우에 QA 배포 추가 #656
  .github/workflows/android-cd.yml
  .github/workflows/android-ci-cd-dev.yml
Labels: android, ⚙️ build

#689 deploy: v.1.3.1 배포
  android/Staccato_AN/app/build.gradle.kts
  android/Staccato_AN/app/src/main/res/values/strings.xml
  android/Staccato_AN/deploy/whatsnew/whatsnew-ko-KR
Labels: android, 📜 docs, ⚙️ build, ⛏️ chore, deploy

#694 refactor: ci/cd 전략 수정 #693
  .github/workflows/backend-ci-cd-prod.yml
Labels: backend, ⚙️ build
